<div id="form-tipo-variable" class="container-fluid">
  <br />
  <div class="row">
    <div class="col-12 text-center">
      <h3>{{ title | uppercase }}</h3>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" #groupForm="ngForm">
    <div class="form-group">
      <label for="nombre">{{labelsApp.labels.nombre}}:</label>
      <div class="text-danger" *ngIf="nombre.touched && groupForm.controls['nombre'].errors">
        {{labelsApp.input_error.min_length_a}}</div>
      <input id="nombre" name="nombre" class="form-control input-sise" required minlength="3"
        [(ngModel)]="itemForm.nombre" #nombre="ngModel" />
    </div>
    <div class="row">
      <div class="col-6 text-right">
        <a class="btn btn-secondary" [routerLink]="['/tiposvariables']">{{ labelsApp.buttons.cancelar }}</a>
      </div>
      <div class="col-6 text-left">
        <button type="submit" class="btn btn-success"
          [disabled]="!groupForm.form.valid">{{ labelsApp.buttons.guardar }}</button>
      </div>
    </div>
  </form>
</div>
