<div id="div-estaciones" class="container-fluid">
  <br />
  <div class="row">
    <div class="col-12 text-center">
      <h3>{{ labelsApp.estaciones.title_index | uppercase }}</h3>
    </div>
  </div>
  <div class="div-table">
    <div class="row">
      <div class="col-12 text-right">
        <button class="btn btn-success" *ngIf="permisosAppService.permisos.crear"
          (click)="onClickCrear()">{{labelsApp.buttons.crear}}</button>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-12">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th class="th-cons-rows">#</th>
              <th>{{ labelsApp.labels.codigo }}</th>
              <th>{{ labelsApp.labels.nombre }}</th>
              <th>{{ labelsApp.labels.estado }}</th>
              <th>{{ labelsApp.labels.categoria_estacion }}</th>
              <th>{{ labelsApp.labels.entidad }}</th>
              <th>{{ labelsApp.labels.municipio }}</th>
              <th class="btn-crud" *ngIf="permisosAppService.permisos.modificar">{{ labelsApp.buttons.editar }}</th>
              <th class="btn-crud" *ngIf="permisosAppService.permisos.eliminar">{{ labelsApp.buttons.eliminar }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let estacion of estacionModel.getItems(); let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ estacion.codigo }}</td>
              <td>{{ estacion.nombre }}</td>
              <td>{{ estacion.estado }}</td>
              <td>{{ nombreCategoriaEstacion(estacion.id_categoria_estaciones) }}</td>
              <td>{{ nombreEntidad(estacion.id_entidad) }}</td>
              <td>{{ nombreM(estacion.id_municipio) }}</td>
              
              <td class="text-center" *ngIf="permisosAppService.permisos.modificar">
                <button class="btn btn-outline-light btn-sise" [title]="labelsApp.buttons.editar"
                  (click)="onClickModificar(estacion)">
                  <div class="div-btn update-btn">
                    <img src="assets/imagenes/iconos.svg" />
                  </div>
                </button>
              </td>
              <td class="text-center" *ngIf="permisosAppService.permisos.eliminar">
                <button class="btn btn-outline-light btn-sise" [title]="labelsApp.buttons.eliminar"
                  (click)="onClickEliminar(estacion)">
                  <div class="div-btn delete-btn">
                    <img src="assets/imagenes/iconos.svg" />
                  </div>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

