<div id="form-mesa-reglasoperacion" class="container-fluid">
    <br>
    
    <div class="row">
        <div class="col-12 text-center">
            
            <h3>{{title | uppercase }}</h3>
        </div>
    </div>

    <div>
        <div class="row">
          <table class=" table  col-6" align="center">
            <thead>
              <tr align="center">
                
                <th >Fecha </th>
                <th >QE</th>
                
              </tr>
            </thead>
            <tbody>
              <tr  align="center">
                
                <td >Fecha</td>
                <td >QE</td>
                
              </tr>
              <tr align="center">
               
                <td>Fecha</td>
                <td >QE</td>
               
              </tr>
              
            </tbody>
          </table>
          
       
          
      
      
        </div>
        <div class="row">
          <div class="container-fluid col-6">
           <label >Descripción </label>
           <textarea id="descripcion" name="descripcion" class="form-control input-sise" rows="4" ></textarea>
          </div>
        </div>
        <br>
    
        <div class="row">
          <div class="col-6 text-right ">
            <a class="btn btn-secondary" [routerLink]="['/escenario/modificar/:id']">Cancelar</a>
          </div>
          <div class="col-6 text">
            <button  type="submit" class="btn btn-success" [disabled]="!groupForm.form.valid">Guardar</button>
          </div>
        </div>
        
    
      </div>
</div>