@import "variables"

*
    font-family: 'Barlow'

h1.title-sise 
    font-size: 20pt
h2.title-sise 
    font-size: 18pt
h3.title-sise 
    font-size: 16pt
h4.title-sise 
    font-size: 14pt
.theadtabla
   background-color:  #20273f
   color: #fff
.check 
    width: 30px
    height: 30px

.checkboxContainer
    display: inline-block
    align: center
    input
        display: none
        &:checked
            &+ .checkmark
                background-color: $colorVerde
            &+ .checkmarkTrue
                background-color: $colorRojo
  
.checkmark
    text-align: center
    display: inline-block
    width: 77px
    height: 25px
    background: $colorRojo
    border-radius: 3px
    color: #FFF

.checkboxContainerTrue
    display: inline-block
    align: center
    input
        display: none
        &:checked
            &+ .checkmark
                background-color: $colorRojo
            &+ .checkmarkTrue
                background-color: $colorVerde
  
.checkmarkTrue
    text-align: center
    display: inline-block
    width: 77px
    height: 25px
    background: $colorVerde
        
     
    border-radius: 3px
    color: #FFF

	 
#div-breadcrumb
    div
        a
            color: $div_breadcrumb_a_color
            margin: $div_breadcrumb_a_margin
            font-size: $div_breadcrumb_a_font_size
            &:hover
                color: $div_breadcrumb_a_hover_color

.div-table
    min-height: $div_table_min_height
    padding-bottom: $div_table_padding_bottom
    .table
        thead
            th.btn-crud
                width: $table_thead_th_btn_crud
            th.th-cons-rows
                width: $table_th_cons_rows
        tbody
            tr 
                &:nth-child(2n)
                    background-color: $table_tbody_tr_nth_child
                &:hover
                    background-color: $table_tbody_tr_hover_background
                td
                    padding-top: $table_tbody_td_padding_top
                    padding-bottom: $table_tbody_td_padding_bottom
                    vertical-align: middle

.btn-sise
    padding: $btn_sise_padding

.div-btn 
    position: relative
    width: $div_btn_width
    height: $div_btn_height
    overflow: hidden
    img
        width: $div_btn_img_width
        position: absolute

.div-btn.update-btn
    img
        top: $div_btn_update_btn_top
        left: $div_btn_update_btn_left

.div-btn.delete-btn
    img
        top: $div_btn_delete_btn_top
        left: $div_btn_delete_btn_left

.div-btn.imprimir-btn
    img
        top: $div_btn_imprimir_btn_top
        left: $div_btn_imprimir_btn_left

.div-btn.visualizar-btn
    img
        top: $div_btn_visualizar_btn_top
        left: $div_btn_visualizar_btn_left

.div-btn.crear-btn
    img
        top: $div_btn_crear_btn_top
        left: $div_btn_crear_btn_left


.input-sise
    border-radius: $input_sise_border_radius
    border: $input_sise_border
    max-height: 70px
    min-height: 50px
    border-color: #97c5d4

.input-sise.form-control-sm
    max-height: 31px
    min-height: 31px

.boder-group-control 
    border: 2px solid rgba(32, 39, 63, 0.44)
    padding: 15px
    border-radius: 15px


#div-help-sise
    position: fixed
    left: 0px
    top: 0px
    background-color: rgba(32, 32, 32, 0.66)
    z-index: 3
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    .div-content-help-sise
        background-color: #fff
        width: 70%
        height: 70%
        border-radius: 15px
        padding: 30px
