$font-path: "assets/fonts"
@font-face
    font-family: 'Barlow-Black'
    src: url("#{$font-path}/Barlow-Black.ttf") format('truetype')

@font-face
    font-family: 'Barlow-Black-Italic'
    src: url("#{$font-path}/Barlow-BlackItalic.ttf") format('truetype')

@font-face
    font-family: 'Barlow-Bold'
    src: url("#{$font-path}/Barlow-Bold.ttf") format('truetype')

@font-face
    font-family: 'Barlow-Bold-Italic'
    src: url("#{$font-path}/Barlow-BoldItalic.ttf") format('truetype')

@font-face
    font-family: 'Barlow-Extra-Bold'
    src: url("#{$font-path}/Barlow-ExtraBold.ttf") format('truetype')

@font-face
    font-family: 'Barlow-Extra-Italic'
    src: url("#{$font-path}/Barlow-ExtraBoldItalic.ttf") format('truetype')

@font-face
    font-family: 'Barlow-Extra-Light'
    src: url("#{$font-path}/Barlow-ExtraLight.ttf") format('truetype')

@font-face
    font-family: 'Barlow-Extra-Light-Italic'
    src: url("#{$font-path}/Barlow-ExtraLightItalic.ttf") format('truetype')

@font-face
    font-family: 'Barlow-Italic'
    src: url("#{$font-path}/Barlow-Italic.ttf") format('truetype')

@font-face
    font-family: 'Barlow-Light'
    src: url("#{$font-path}/Barlow-Light.ttf") format('truetype')

@font-face
    font-family: 'Barlow-Light-Italic'
    src: url("#{$font-path}/Barlow-LightItalic.ttf") format('truetype')

@font-face
    font-family: 'Barlow-Medium'
    src: url("#{$font-path}/Barlow-Medium.ttf") format('truetype')

@font-face
    font-family: 'Barlow-Medium-Italic'
    src: url("#{$font-path}/Barlow-MediumItalic.ttf") format('truetype')

@font-face
    font-family: 'Barlow'
    src: url("#{$font-path}/Barlow-Regular.ttf") format('truetype')

@font-face
    font-family: 'Barlow-Semi-Bold'
    src: url("#{$font-path}/Barlow-SemiBold.ttf") format('truetype')

@font-face
    font-family: 'Barlow-Semi-Bold-Italic'
    src: url("#{$font-path}/Barlow-SemiBoldItalic.ttf") format('truetype')

@font-face
    font-family: 'Barlow-Thin'
    src: url("#{$font-path}/Barlow-Thin.ttf") format('truetype')

@font-face
    font-family: 'Barlow-Thin-Italic'
    src: url("#{$font-path}/Barlow-ThinItalic.ttf") format('truetype')



