<div id="div-estados" class="container-fluid">
  <br />
  <div class="row">
    <div class="col-12 text-center">
      <h3>{{ title | uppercase }}</h3>
    </div>
  </div>
  <div class="div-table">
    <div class="row">
      <div class="col-12 text-right">
        <a
          class="btn btn-success"
          *ngIf="this.permisosAppSeccion['crear'] === true"
          (click)="this.permisosService.onClickCrear(rutaHija)"
          >Crear</a
        >
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-12">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th class="th-cons-rows">#</th>
              <th>Nombre</th>
              <th
              class="btn-crud"
              *ngIf="this.permisosAppSeccion['modificar'] === true"
            >
              Editar
            </th>
            <th
              class="btn-crud"
              *ngIf="this.permisosAppSeccion['eliminar'] === true"
            >
              Eliminar
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let estado of estadoModel.getItems(); let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ estado.nombre }}</td>
              <td
                class="text-center"
                *ngIf="this.permisosAppSeccion['modificar'] === true"
                (click)="
                  this.permisosService.onClickModificar(estado, rutaHija)
                "
              >
                <a class="btn btn-outline-light btn-sise" title="Editar">
                  <div class="div-btn update-btn">
                    <img src="assets/imagenes/iconos.svg" />
                  </div>
                </a>
              </td>
              <td
                class="text-center"
                *ngIf="this.permisosAppSeccion['eliminar'] === true"
              >
                <button
                  class="btn btn-outline-light btn-sise"
                  title="Eliminar"
                  (click)="
                    this.permisosService.onClickEliminar(estado, estadoModel)
                  "
                >
                  <div class="div-btn delete-btn">
                    <img src="assets/imagenes/iconos.svg" />
                  </div>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
