@import "../../../../sass/estilos_generales"

div#menu
    background-color: #314075
    width: 300px
    position: fixed
    left: 0px
    top: 0px
    z-index: 2
    box-shadow: -4px 4px 10px 8px #20273f
    div.logo-menu
        height: 60px
        box-shadow: -4px 4px 10px 8px #20273f
        label
            font-size: 29pt
            margin: 0px
            font-weight: bolder
            color: #fff
    div#content-menu-sise
        overflow-y: auto
        overflow-y: auto
        margin-left: -15px
        margin-right: -15px
        a
            color: #fff
            text-decoration: none
            font-size: 12pt
        ul
            margin: 0px
            padding: 0px
            list-style: none
            li ul li
                padding: 10px
                padding-left: 20px
                border-bottom: 1px solid #fff
                &:hover
                    background-color: rgba(0, 122, 169, 0.72)
            li ul li.activo
                background-color: #007aa9

            li div
                padding: 10px
                padding: 10px
                border-bottom: 1px solid #fff
                font-size: 12pt
                font-weight: bolder
                cursor: pointer
                color: #fff
                &:hover
                    background-color: rgba(32, 39, 63, 0.79)
                    color: #fff
            li div.activo
                background-color: #20273f
                color: #fff

@media (max-width: 750px)
    div#menu
        display: none

