<div id="menu" class="container-fluid">
  <div class="row logo-menu align-items-center">
    <label class="col-12 text-center">SISE</label>
  </div>
  <br />
  <div id="content-menu-sise">
    <ul>
      <li>
        <div>
          <a [routerLink]="'/inicio'">Inicio</a>
        </div>
      </li>
      <li *ngFor="let item of autenticacionService.menu; let i = index">
        <div (click)="onClickMenuOpen(item)">
          <span *ngIf="item.submenu.length > 0">{{ item.nombre }}</span>
          <a [routerLink]="[item.url]" *ngIf="item.submenu.length==0"
            (click)="onClickItemMenu(item)">{{ item.nombre }}</a>
        </div>
        <ul *ngIf="item.submenu.length > 0 && item.ver">
          <li *ngFor="let sub_item of item.submenu; let sub_i = index">
            <a [routerLink]="[sub_item.url]" (click)="onClickItemMenu(sub_item)">{{ sub_item.nombre }}</a>
          </li>
        </ul>
      </li>
      <li>
        <div>
          <a href="assets/files/manual_usuario.pdf" target="_blank">Manual de usuario</a>
        </div>
      </li>
    </ul>
  </div>
</div>