@import "../../../../sass/_estilos_generales"

.table-series .grafica
    height: 150px
    cursor: zoom-in
    box-shadow: 2px 3px 3px 1px rgba(189, 189, 189, 0.44)
    &:hover
        box-shadow: 2px 3px 3px 1px rgba(32, 32, 32, 0.41)

.div-view-grafica
    position: fixed
    top: 0px
    left: 0px
    z-index: 3
    height: 100%
    width: 100%
    background-color: rgba(0, 0, 0, 0.55)
    display: flex
    justify-content: center
    align-items: center
    .content-grafica
        max-width: 90%
        height: calc(90% + 10px)
        background-color: #fff
        padding: 10px
        border-radius: 15px
        .content-img-grafica
            width: 100%
            height: calc(100% - 31px)
            overflow: auto
            img
                height: 550px


