<div id="div-modelo-clima" class="container-fluid">
    <div class="text-center">
        <h1 class="title-sise">{{title | uppercase}}</h1>
    </div>
    <br>
    <div class="row">
        <form (ngSubmit)="onSubmitBsq()" #groupForm="ngForm" class="col-sm-12">
            <div class="row justify-content-md-center">
                <div class="col-sm-8 boder-group-control">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="id_estacion">Estación:</label>
                                <select id="id_estacion" name="id_estacion"
                                    class="form-control input-sise form-control-sm" required
                                    [(ngModel)]="itemFormBqs.id_estacion">
                                    <option value="">Seleccione una opción</option>
                                    <option *ngFor="let item of rescursos.estaciones" [value]="item.id">
                                        {{item.nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="fecha">Fecha inicio de simulación:</label>
                                <input id="fecha" name="fecha" type="date"
                                    class="form-control input-sise form-control-sm" required
                                    [(ngModel)]="itemFormBqs.fecha">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="periodo">Tipo de gráfica:</label>
                                <select id="periodo" name="periodo" class="form-control input-sise form-control-sm"
                                    required [(ngModel)]="itemFormBqs.periodo">
                                    <option value="mensual">Datos mensuales</option>
                                    <option value="diario">Datos diarios</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-left">
                            <button type="submit" class="btn btn-sm btn-success"
                                [disabled]="!groupForm.form.valid">Generar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12 text-right">
            <button type="button" class="btn btn-sm btn-primary" (click)="showHelp=true">Ayuda</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-series">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">Temperatura</th>
                        <th class="text-center">Precipitación</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">
                            <img *ngIf="series.graficas.temp && series.graficas.temp.estado"
                                [src]="series.graficas.temp.img" class="grafica"
                                [title]="'Temperatura-'+ series.resultados.series[1].year_serie"
                                (click)="verGrafica(series.graficas.temp, 'Temperatura-'+ series.resultados.series[1].year_serie)">
                            <span
                                *ngIf="series.graficas.temp && !series.graficas.temp.estado">{{series.graficas.temp.msg}}</span>
                        </td>
                        <td class="text-center">
                            <img *ngIf="series.graficas.precip && series.graficas.precip.estado"
                                [src]="series.graficas.precip.img" class="grafica"
                                [title]="'Temperatura-'+ series.resultados.series[1].year_serie"
                                (click)="verGrafica(series.graficas.precip, 'Temperatura-'+ series.resultados.series[1].year_serie)">
                            <span
                                *ngIf="series.graficas.precip && !series.graficas.precip.estado">{{series.graficas.precip.msg}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br><br>
</div>
<div class="div-view-grafica" *ngIf="graficaSelect.ver">
    <div class="content-grafica">
        <div class="content-img-grafica">
            <img *ngIf="graficaSelect.src!=''" [src]="graficaSelect.src" [title]="graficaSelect.titulo">
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <button type="button" class="btn btn-sm btn-success"
                    (click)="graficaSelect.ver=!graficaSelect.ver">Volver</button>
            </div>
        </div>
    </div>
</div>
<div id="div-help-sise" *ngIf="showHelp">
    <div class="div-content-help-sise">
        <div>
            <p>El modelo clima es una herramienta que permite proyectar el comportamiento de dos (2) variables
                climáticas en una estación o zona de referencia, durante un periodo máximo de un año, contado a partir
                de la fecha de interés.</p>
            <p>La proyección de las series climáticas se realiza a partir de la información histórica local y de la
                caracterización del fenómeno de variabilidad climática a escala global. El método desarrollado permite
                identificar en la base de datos, los acontecimientos meteorológicos previos al periodo de predicción y
                encuentra a partir de estos, tres series de datos de las variables climáticas, que representan su
                proyección (comportamiento) en el periodo de interés y en la estación de referencia.</p>
            <p>La respuesta del modelo de predicción climática se visualiza gráficamente, tanto a escala diaria como
                mensual y ofrece una aplicación de consulta de la información.</p>
            <p>El índice macroclimático seleccionado para representar la variabilidad macroclimática interanual en el
                área de estudio, es el Oceanic Niño Index – ONI
                (<a href="https://origin.cpc.ncep.noaa.gov/products/analysis_monitoring/ensostuff/ONI_v5.php"
                    target="blank">https://origin.cpc.ncep.noaa.gov/products/analysis_monitoring/ensostuff/ONI_v5.php</a>).
                El índice ONI y la
                base de datos de climática local, han sido parametrizados, para su actualización por parte del usuario.
            </p>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <button type="button" class="btn btn-sm btn-success" (click)="showHelp=!showHelp">Volver</button>
            </div>
        </div>
    </div>
</div>