<div id="form-estado" class="container-fluid">
  <br />
  <div class="row">
    <div class="col-12 text-center">
      <h3>{{ title | uppercase }}</h3>
    </div>
  </div>
  <form (ngSubmit)="this.permisosService.onSubmit(operacion, estadoModel, itemForm)" #groupForm="ngForm">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input
        id="nombre"
        name="nombre"
        class="form-control input-sise"
        required
        minlength="4"
        [(ngModel)]="itemForm.nombre"
        #nombre="ngModel"
      />
    </div>
    <div class="row">
      <div class="col-6 text-right">
        <a class="btn btn-secondary" [routerLink]="['/estados']">Cancelar</a>
      </div>
      <div class="col-6 text-left">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!groupForm.form.valid"
        >
          Guardar
        </button>
      </div>
    </div>
  </form>
</div>
