@import "../../../../sass/_estilos_generales"

.configuracionFormularioVer
    position: fixed
    top: 0px
    left: 0px
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.44)
    display: flex
    justify-content: center
    align-items: center

.formulario
    margin: auto
    width: 50%
    min-width: 300px
    background-color: #fff
    min-height: 95%
    border-radius: 15px