<div id="div-mesatecnicaprincipal" class="container-fluid">
  <br>
  <div class="row">
      <div class="col-12 text-center">
      <h3>{{title | uppercase }}</h3>
      </div>
  </div>
  <div class="div-table">
      <div class="row">
        <div class="col-12 text-right">
          <a class="btn btn-success" (click)="crearMtp()">Crear</a>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12">
          <table class="table">
              <thead class="theadtabla">
                  <tr>
                    
                    <th>Código</th>
                    <th>Inicio Simulación</th>
                    <th>Fin Simulación</th>
                    <th>Descripción</th>
                    <th>Asociado</th>
                    <th>Estado</th>
                    <th class="btn-crud">Editar</th>
                    <th class="btn-crud">Visualizar</th>
                  </tr>
                </thead>
              <tbody>
                  <tr *ngFor="let mesatecnicaprin of mesatecnicaprinModel.getItems(); let i=index;">
                      
                      <td>{{ mesatecnicaprin.codigo }}</td>
                      <td>{{ mesatecnicaprin.fecha_inicio_simulacion }} </td>
                      <td>{{ mesatecnicaprin.fecha_fin_simulacion }} </td>
                      <td>{{ mesatecnicaprin.descripcion }}</td>
                      <td>{{ mesatecnicaprin.codigo_mt_asociada }}</td>
                      <td>{{ mesatecnicaprin.estado}}</td>
                      
                      
                      <td class="text-center">
                          <a class="btn btn-outline-light btn-sise" title="Editar" [routerLink]="['/modificarmtba/modificar/',mesatecnicaprin.id]">
                            <div class="div-btn update-btn"><img src="assets/imagenes/iconos.svg" /></div>
                          </a>
                        </td>
                      <td class="text-center">
                          <button class="btn btn-outline-light btn-sise" title="Visualizar" [routerLink]="['/modificarmtba/modificar/',mesatecnicaprin.id]">
                           <div class="div-btn visualizar-btn"><img src="assets/imagenes/iconos.svg" /></div>
                          </button>
                      </td>
                      
                  </tr>
              </tbody>
          </table>
      </div>
  </div>

<!--POP UP CREAR MTP-->
  
    <div class="configuracionFormularioVer" *ngIf="formularioCrearMTP.ver ">
      <div class="formulario">
        <br>
        <div class="row">
          <div class="col-12 text-center">
            <h4>{{formularioCrearMTP.titulo | uppercase }} </h4>
          </div>
        </div>
          <br>
          <div class="row">
            <div class="col-12">
              <form class="col-12"> 
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th>Inicio Simulación</th>
                      <th>Fin Simulación</th>
                      <th>Descripción</th>
                      <th> Seleccionar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let mesatecnicaba of mesatecnicabaModel.getItems(); let i=index;">
                      <td>{{ mesatecnicaba.fecha_inicio_simulacion }} </td>
                      <td>{{ mesatecnicaba.fecha_fin_simulacion }} </td>
                      <td>{{ mesatecnicaba.descripcion }}</td>
                      <td style="text-align: center">
                        <button style="margin-top: 8px" id="seleccion"  class="btn btn-success" name="seleccion" (click)="asociarMtba(mesatecnicaba.id)">Seleccionar</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-6 text-right">
              <button type="button" class="btn btn-secondary" (click)="formularioCrearMTP.ver=false">Cancelar</button>
            </div>
          </div>
        </div>

    </div>
</div>