<div id="form-estacion" class="container-fluid">
  <br />
  <div class="row">
    <div class="col-12 text-center">
      <h3>{{ title | uppercase }}</h3>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" #groupForm="ngForm">
    <div class="form-group">
      <label for="codigo">{{labelsApp.labels.codigo}}:</label>
      <div class="text-danger" *ngIf="codigo.touched && groupForm.controls['codigo'].errors">
        {{labelsApp.input_error.min_length_a}}</div>
      <input id="codigo" name="codigo" class="form-control input-sise" required minlength="3"
        [(ngModel)]="itemForm.codigo" #codigo="ngModel" />

        <label for="nombre">{{labelsApp.labels.nombre}}:</label>
        <div class="text-danger" *ngIf="nombre.touched && groupForm.controls['nombre'].errors">
          {{labelsApp.input_error.min_length_a}}</div>
        <input id="nombre" name="nombre" class="form-control input-sise" required minlength="3"
          [(ngModel)]="itemForm.nombre" #nombre="ngModel" />

          <label for="latitud">{{labelsApp.labels.latitud}}:</label>
          <div class="text-danger" *ngIf="latitud.touched && groupForm.controls['latitud'].errors">
            {{labelsApp.input_error.min_length_a}}</div>
          <input id="latitud" name="latitud" class="form-control input-sise" required minlength="1"
            [(ngModel)]="itemForm.latitud" #latitud="ngModel" />          
          
            <label for="longitud">{{labelsApp.labels.longitud}}:</label>
            <div class="text-danger" *ngIf="longitud.touched && groupForm.controls['longitud'].errors">
              {{labelsApp.input_error.min_length_a}}</div>
            <input id="longitud" name="longitud" class="form-control input-sise" required minlength="1"
              [(ngModel)]="itemForm.longitud" #longitud="ngModel" /> 

          <label for="altitud">{{labelsApp.labels.altitud}}:</label>
          <div class="text-danger" *ngIf="altitud.touched && groupForm.controls['altitud'].errors">
            {{labelsApp.input_error.min_length_a}}</div>
          <input id="altitud" name="altitud" class="form-control input-sise" required minlength="1"
            [(ngModel)]="itemForm.altitud" #altitud="ngModel" /> 



         
        <label for="estado">{{labelsApp.labels.estado}}:</label> 
          <div class="text-danger" *ngIf="estado.touched && groupForm.controls['estado'].errors">
                {{labelsApp.input_error.option}}</div>
                           
         <select id="estado" name="estado" [(ngModel)]="itemForm.estado" class="form-control input-sise" #estado="ngModel" required>
               <option [value]="1"> Activo</option>
               <option [value]="0"> Inactivo</option>
         </select>   

         <label for="fecha_instalacion">{{labelsApp.labels.fecha_instalacion}}:</label>
         <div class="text-danger" *ngIf="fecha_instalacion.touched && groupForm.controls['fecha_instalacion'].errors">
           {{labelsApp.input_error.min_length_a}}</div>
         <input id="fecha_instalacion" name="fecha_instalacion" class="form-control input-sise" required type="date"
           [(ngModel)]="itemForm.fecha_instalacion" #fecha_instalacion="ngModel" /> 

           <label for="fecha_suspension">{{labelsApp.labels.fecha_suspension}}:</label>
           <div class="text-danger" *ngIf="fecha_suspension.touched && groupForm.controls['fecha_suspension'].errors">
             {{labelsApp.input_error.min_length_a}}</div>
           <input id="fecha_suspension" name="fecha_suspension" class="form-control input-sise" required type="date"
             [(ngModel)]="itemForm.fecha_suspension" #fecha_suspension="ngModel" />


             <label for="fecha_inicial_datos">{{labelsApp.labels.fecha_inicial_datos}}:</label>
             <div class="text-danger" *ngIf="fecha_inicial_datos.touched && groupForm.controls['fecha_inicial_datos'].errors">
               {{labelsApp.input_error.min_length_a}}</div>
             <input id="fecha_inicial_datos" name="fecha_inicial_datos" class="form-control input-sise"  type="date"
               [(ngModel)]="itemForm.fecha_inicial_datos" #fecha_inicial_datos="ngModel" />             


               <label for="fecha_final_datos">{{labelsApp.labels.fecha_final_datos}}:</label>
               <div class="text-danger" *ngIf="fecha_final_datos.touched && groupForm.controls['fecha_final_datos'].errors">
                 {{labelsApp.input_error.min_length_a}}</div>
               <input id="fecha_final_datos" name="fecha_final_datos" class="form-control input-sise"  type="date"
                 [(ngModel)]="itemForm.fecha_final_datos" #fecha_final_datos="ngModel" />              



        <label>{{labelsApp.labels.categoria_estacion}}:</label>
        <div class="text-danger" *ngIf="id_categoria_estaciones.touched && groupForm.controls['id_categoria_estaciones'].errors">
          {{labelsApp.input_error.option}}</div>
        <select id="id_categoria_estaciones" name="id_categoria_estaciones" [(ngModel)]="itemForm.id_categoria_estaciones" class="form-control input-sise" #id_categoria_estaciones="ngModel" required>
          <option *ngFor="let categoriaEstacion of categoriaEstacionModel.getItems()" [value]="categoriaEstacion.id">
            {{ categoriaEstacion.nombre }}
          </option>
        </select>

        <label>{{labelsApp.labels.tecnologia_estacion}}:</label>
        <div class="text-danger" *ngIf="id_tecnologia.touched && groupForm.controls['id_tecnologia'].errors">
          {{labelsApp.input_error.option}}</div>
        <select id="id_tecnologia" name="id_tecnologia" [(ngModel)]="itemForm.id_tecnologia" class="form-control input-sise" #id_tecnologia="ngModel" required>
          <option *ngFor="let tecnologiaEstacion of tecnologiaEstacionModel.getItems()" [value]="tecnologiaEstacion.id">
            {{ tecnologiaEstacion.nombre }}
          </option>
        </select>     
        
        <label>{{labelsApp.labels.entidad}}:</label>
        <div class="text-danger" *ngIf="id_entidad.touched && groupForm.controls['id_entidad'].errors">
          {{labelsApp.input_error.option}}</div>
        <select id="id_entidad" name="id_entidad" [(ngModel)]="itemForm.id_entidad" class="form-control input-sise" #id_entidad="ngModel" required>
          <option *ngFor="let entidad of entidadModel.getItems()" [value]="entidad.id">
            {{ entidad.nombre }}
          </option>
        </select>

        <label>{{labelsApp.labels.municipio}}:</label>
        <div class="text-danger" *ngIf="id_municipio.touched && groupForm.controls['id_municipio'].errors">
          {{labelsApp.input_error.option}}</div>
        <select id="id_municipio" name="id_municipio" [(ngModel)]="itemForm.id_municipio" class="form-control input-sise" #id_municipio="ngModel" required>
          <option *ngFor="let municipio of municipioModel.getItems()" [value]="municipio.id">
            {{ municipio.nombre }}
          </option>
        </select>           
      
    </div>
    <div class="row">
      <div class="col-6 text-right">
        <a class="btn btn-secondary" [routerLink]="['/estaciones']">{{ labelsApp.buttons.cancelar }}</a>
      </div>
      <div class="col-6 text-left">
        <button type="submit" class="btn btn-success"
          [disabled]="!groupForm.form.valid">{{ labelsApp.buttons.guardar }}</button>
      </div>
    </div>
  </form>
</div>
