@import "../../../../sass/estilos_generales"

header
    width: 100%
    height: 60px    
    background-color: #20273F
    display: flex
    align-items: center
    justify-content: space-between
    a, label
        color: #ffffff
        text-decoration: none
    
    .logo-menu
        display: flex
        align-items: center
        justify-content: space-between
        div.menu
            display: none
            padding: 2px
            border-radius: 8px
            background-color: #fff
            margin-right: 10px
            margin-left: 10px
            img
                width: 30px
            
    .banner
        display: flex
        align-items: center
        justify-content: space-between
        div.user-img
            background-color: #fff
            border-radius: 50%
            width: 44px
            height: 44px
            position: relative
            margin-right: 15px
            margin-left: 10px
            img
                width: 60px
                margin-top: 2px
                margin-left: -8px
        label
            font-size: 13pt


@media (max-width: 750px)
    header
        .logo-menu
            div.menu
                display: block      
        .banner
            label
                display: none
