<header>
  <div class="logo-menu">
    <div class="menu">
      <img src="assets/imagenes/menu.png" (click)="onClickMenu()" />
    </div>
  </div>
  <div class="banner pr-1">
    <nav class="navbar navbar-expand-sm">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <label> {{ username }}</label>
            </a>
            <div class="dropdown-menu pr-1 bg-primary" aria-labelledby="navbarDropdown">
              <a class="dropdown-item pr-1 bg-primary" (click)="this.autenticacionService.logout()">Cerrar Sesión</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>