<div id="form-rol" class="container-fluid">
  <br />
  <div class="row">
    <div class="col-12 text-center">
      <h3>{{ title | uppercase }}</h3>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" #groupForm="ngForm">
    <div class="form-group">
      <label for="nombre">{{labelsApp.labels.nombre}}:</label>
      <div class="text-danger" *ngIf="nombre.touched && groupForm.controls['nombre'].errors">
        {{labelsApp.input_error.min_length_a}}</div>
      <input id="nombre" name="nombre" class="form-control input-sise" required minlength="3"
        [(ngModel)]="itemForm.nombre" #nombre="ngModel" />
    </div>
    <div id="div-seccionapp" class="container-fluid">
      <br />
      <div class="div-table">
        <br />
        <div class="row">
          <div class="col-12">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th>Sección App</th>
                  <th>Consultar</th>
                  <th>Crear</th>
                  <th>Modificar</th>
                  <th>Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let seccionapp of itemFormRoles.permisos;let i = index">
                  <td>
                    <span *ngIf="!seccionapp.submenu"><strong>{{ seccionapp.nombre }}</strong></span>
                    <span *ngIf="seccionapp.submenu">&nbsp;&nbsp;&nbsp;&nbsp;&#8226;{{ seccionapp.nombre }}</span>
                  </td>
                  <td>
                    <label class="checkboxContainerTrue" *ngIf="seccionapp.consultar === false">
                      <input id="consultar" type="checkbox" name="consultar" [(ngModel)]="seccionapp.consultar"/>
                      <span class="checkmarkTrue" *ngIf="seccionapp.consultar === true">Permitido</span>
                      <span class="checkmark" *ngIf="seccionapp.consultar === false">Denegado</span>
                    </label>

                    <label class="checkboxContainerTrue" *ngIf="seccionapp.consultar === true" (click)="onClickConsultarDesactivar(seccionapp)">
                      <input id="consultar" type="checkbox" name="consultar" [(ngModel)]="seccionapp.consultar"/>
                      <span class="checkmarkTrue" *ngIf="seccionapp.consultar === true">Permitido</span>
                      <span class="checkmark" *ngIf="seccionapp.consultar === false">Denegado</span>
                    </label>
                  </td>
                  <td *ngIf="seccionapp.crear === false">
                    <label  class="checkboxContainerTrue" (click)="onClickCrearActivar(seccionapp)">
                      <input id="crear" type="checkbox" name="crear" [(ngModel)]="seccionapp.crear"/>
                      <span class="checkmarkTrue" *ngIf="seccionapp.crear === true">Permitido</span>
                      <span class="checkmark" *ngIf="seccionapp.crear === false">Denegado</span>
                    </label>
                  </td>
                  <td *ngIf="seccionapp.crear === true">
                    <label class="checkboxContainerTrue" (click)="onClickCrearDesactivar(seccionapp)">
                      <input id="crear" type="checkbox" name="crear" [(ngModel)]="seccionapp.crear"/>
                      <span class="checkmarkTrue" *ngIf="seccionapp.crear === true">Permitido</span>
                      <span class="checkmark" *ngIf="seccionapp.crear === false">Denegado</span>
                    </label>
                  </td>

                  <td *ngIf="seccionapp.modificar === false">
                    <label class="checkboxContainerTrue" (click)="onClickModificarActivar(seccionapp)">
                      <input id="modificar" type="checkbox" name="modificar" [(ngModel)]="seccionapp.modificar"/>
                      <span class="checkmarkTrue" *ngIf="seccionapp.modificar === true">Permitido</span>
                      <span class="checkmark" *ngIf="seccionapp.modificar === false">Denegado</span>
                    </label>
                  </td>

                  <td *ngIf="seccionapp.modificar === true">
                    <label  class="checkboxContainerTrue" (click)="onClickModificarDesactivar(seccionapp)">
                      <input id="modificar" type="checkbox" name="modificar" [(ngModel)]="seccionapp.modificar"/>
                      <span class="checkmarkTrue" *ngIf="seccionapp.modificar === true">Permitido</span>
                      <span class="checkmark" *ngIf="seccionapp.modificar === false">Denegado</span>
                    </label>
                  </td>

                  <td *ngIf="seccionapp.eliminar === false">
                    <label class="checkboxContainerTrue" (click)="onClickEliminarActivar(seccionapp)">
                      <input id="eliminar" type="checkbox" name="eliminar" [(ngModel)]="seccionapp.eliminar"/>
                      <span class="checkmarkTrue" *ngIf="seccionapp.eliminar === true">Permitido</span>
                      <span class="checkmark" *ngIf="seccionapp.eliminar === false">Denegado</span>
                    </label>
                  </td>

                  <td *ngIf="seccionapp.eliminar === true">
                    <label class="checkboxContainerTrue" (click)="onClickEliminarDesactivar(seccionapp)">
                      <input id="eliminar" type="checkbox" name="eliminar" [(ngModel)]="seccionapp.eliminar"/>
                      <span class="checkmarkTrue" *ngIf="seccionapp.eliminar === true">Permitido</span>
                      <span class="checkmark" *ngIf="seccionapp.eliminar === false">Denegado</span>
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6 text-right">
        <a class="btn btn-secondary" [routerLink]="['/roles']">{{ labelsApp.buttons.cancelar }}</a>
      </div>
      <div class="col-6 text-left">
        <button type="submit" class="btn btn-success"
          [disabled]="!groupForm.form.valid">{{ labelsApp.buttons.guardar }}</button>
      </div>
    </div>
  </form>
</div>
