<div id="form-seccion" class="container-fluid">
  <br />
  <div class="row">
    <div class="col-12 text-center">
      <h3>{{ title | uppercase }}</h3>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" #groupForm="ngForm">
    <div class="form-group">
      <label for="nombre">{{labelsApp.labels.nombre}}:</label>
      <div class="text-danger" *ngIf="nombre.touched && groupForm.controls['nombre'].errors">
        {{labelsApp.input_error.min_length_a}}</div>
      <input id="nombre" name="nombre" class="form-control input-sise" required minlength="3"
        [(ngModel)]="itemForm.nombre" #nombre="ngModel" />


        <label>{{labelsApp.labels.punto_gestion}}:</label>
        <div class="text-danger" *ngIf="id_punto_gestion.touched && groupForm.controls['id_punto_gestion'].errors">
          {{labelsApp.input_error.option}}</div>
        <select id="id_punto_gestion" name="id_punto_gestion" [(ngModel)]="itemForm.id_punto_gestion" class="form-control input-sise" #id_punto_gestion="ngModel" required>
          <option *ngFor="let puntoGestion of puntoGestionModel.getItems()" [value]="puntoGestion.id">
            {{ puntoGestion.nombre }}
          </option>
        </select>
      
    </div>
    <div class="row">
      <div class="col-6 text-right">
        <a class="btn btn-secondary" [routerLink]="['/secciones']">{{ labelsApp.buttons.cancelar }}</a>
      </div>
      <div class="col-6 text-left">
        <button type="submit" class="btn btn-success"
          [disabled]="!groupForm.form.valid">{{ labelsApp.buttons.guardar }}</button>
      </div>
    </div>
  </form>
</div>
