<div id="form-modificar-mesatecnica-principal" class="container-fluid">
  <br>

  <div class="row">
    <div class="col-12 text-center">
      <h3>MODIFICAR MTBA</h3>
      <h3>{{title | uppercase }}</h3>
    </div>
  </div>


  <form (ngSubmit)="onSubmit()" #groupForm="ngForm">
    <div class="form-row">
      <div class=" col-md-2"></div>
      <div class="form-group col-md-4">
        <label>Código</label>
        <input id="codigo" name="codigo" readonly class="form-control input-sise" [(ngModel)]="itemForm.codigo"
          #codigo="ngModel">
      </div>

      <div class="form-group col-md-4">
        <label>Fecha Inicio Periodo Simulación</label>
        <input id="fecha_inicio_simulacion" readonly name="fecha_inicio_simulacion" class="form-control input-sise"
          [(ngModel)]="itemForm.fecha_inicio_simulacion" #fecha_inicio_simulacion="ngModel">
      </div>

      <div class="col-md-2"></div>

      <div class=" col-md-2"></div>
      <div class="form-group col-md-4">
        <label>Fecha Creación</label>
        <input id="fecha_creacion" readonly name="fecha_creacion" class="form-control input-sise"
          [(ngModel)]="itemForm.fecha_creacion" #fechaCreacion="ngModel">
      </div>

      <div class="form-group col-md-4">
        <label>Fecha Fin Periodo Simulación</label>
        <input id="fecha_fin_simulacion" readonly name="fecha_fin_simulacion" class="form-control input-sise"
          [(ngModel)]="itemForm.fecha_fin_simulacion" #fechaFin="ngModel">
      </div>

      <div class="col-md-2"></div>

      <div class="col-md-2"></div>
      <div class="form-group col-md-8">
        <label>Descripción</label>
        <textarea id="descripcion" name="descripcion" class="form-control input-sise" rows="4" required minlength="4"
          [(ngModel)]="itemForm.descripcion" #descripcion="ngModel"></textarea> </div>
      <div class="col-md-2"></div>

    </div>


    <div class="form-row">
      <div class=" col-md-2"></div>
      <div class="form-group col-md-4">
        <label>Estado</label>
        <div class="form-check">
          <label class="form-check">
            <input type="radio" class="form-check-input" name="inactivar">Inactivar</label>
          <label class="form-check">
            <input type="radio" class="form-check-input" name="cerrar">Cerrar</label>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label class="labelFcierre">Fecha Cierre</label>
        <input type="date" readonly class="form-control" id="dateCierre">
      </div>
    </div>

    <div class="form-row">
      <div class=" col-md-2"></div>
      <div class="form-group col-md-4">
        <label>Series de Tiempo</label>
        <div class="form-check1">
          <label class="form-check">
            <input id="checkb" type="radio" class="checar" name="serie1">Serie 1</label>
          <label class="form-check">
            <input id="checkbox" type="radio" class="checar" name="serie2">Serie 2</label>
          <label class="form-check">
            <input id="checkbox" type="radio" class="checar" name="serie3">Serie 3</label>
        </div>
      </div>
    </div>






    <div class="container-fluid">

      <div class="container-actas ">
        <div class="names">
          <h6>ACTAS</h6>
          <h6>ESCENARIOS </h6>
        </div>

        <h5>INDEX ESCENARIOS</h5>

        <table class="table">
          <thead>
            <tr>
              <th>Código</th>
              <th>Descripción</th>
              <th>Base</th>
              <th>Ver</th>
              <th>Modificar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>001</td>
              <td>XXXXXXXX</td>
              <td>SI</td>
              <td> <button type="button" class="fa fa-eye"></button></td>
              <td class=""></td>
              <td> <button type="button" class="fa fa-times"></button></td>



            </tr>
            <tr>
              <td>002</td>
              <td>XXXXXXXX</td>
              <td>SI</td>
              <td> <button type="button" class="fa fa-eye"></button></td>
              <td class=""></td>
              <td> <button type="button" class="fa fa-times"></button></td>
            </tr>
            <tr>
              <td>003</td>
              <td>XXXXXXXX</td>
              <td>SI</td>
              <td> <button type="button" class="fa fa-eye"></button></td>
              <td class=""></td>
              <td> <button type="button" class="fa fa-times"></button></td>
            </tr>


          </tbody>
        </table>

        <div class="row">
          <div class="col-6 text-right">
            <a class="btn btn-secondary" [routerLink]="['/mesatecnicaprin']">Cancelar</a>
          </div>
          <div class="col-6 text-left">
            <button type="submit" class="btn btn-success" [disabled]="!groupForm.form.valid">Guardar</button>
          </div>
        </div>



      </div>
    </div>








  </form>