<div id="div-mesatecnicamtba" class="container-fluid">
  <br>
  <div class="row">
    <div class="col-12 text-center">
      <h3>{{title | uppercase }}</h3>
      <h3></h3>
    </div>
  </div>
  <div class="div-table">
    <div class="row">
      <div class="col-12 text-right">
        <a class="btn btn-success" [routerLink]="['/mesatecnicaba/crear']">Crear</a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12">
        <table class="table">
          <thead class="theadtabla">
            <tr>
              
              <th>Código</th>
              <th>Inicio Simulación</th>
              <th>Fin Simulación</th>
              <th>Descripción</th>
              <th>Asociado</th>
              <th  >Estado</th>
              <th class="btn-crud" >Editar</th>
              <th class="btn-crud">Visualizar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let mesatecnicaba of mesatecnicabaModel.getItems(); let i=index;">
              
              <td>{{ mesatecnicaba.codigo }}</td>
              <td>{{ mesatecnicaba.fecha_inicio_simulacion }} </td>
              <td>{{ mesatecnicaba.fecha_fin_simulacion }} </td>
              <td>{{ mesatecnicaba.descripcion }}</td>
              <td>{{ mesatecnicaba.codigo_mt_asociada }}</td>
              <td>{{ mesatecnicaba.estado }}</td>
              <!--*ngIf="1==2"-->
              <td class="text-center" >
                <a class="btn btn-outline-light btn-sise" title="Editar" (click)="editMesaTecnica(mesatecnicaba)">
                  <div class="div-btn update-btn"><img src="assets/imagenes/iconos.svg" /></div>
                </a>
              </td>
              <td class="text-center">
                <button class="btn btn-outline-light btn-sise" title="Visualizar"
                  (click)="verMesaTecnica(mesatecnicaba)">
                  <div class="div-btn visualizar-btn"><img src="assets/imagenes/iconos.svg" /></div>
                </button>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
