<div id="div-datos-validados" class="container-fluid">
    <div class="text-center">
        <h1 class="title-sise">{{title | uppercase}}</h1>
    </div>
    <br>
    <div class="row">
        <form (ngSubmit)="onSubmitBsq()" #groupForm="ngForm" class="col-sm-12">
            <div class="row justify-content-md-center">
                <div class="col-sm-8 boder-group-control">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_variable">Variable:</label>
                                <select id="id_variable" name="id_variable"
                                    class="form-control input-sise form-control-sm" required
                                    [(ngModel)]="itemFormBqs.id_variable">
                                    <option value="">Seleccione una opción</option>
                                    <option *ngFor="let item of rescursos.variables" [value]="item.id">
                                        {{item.nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_estacion">Estación:</label>
                                <select id="id_estacion" name="id_estacion"
                                    class="form-control input-sise form-control-sm" required
                                    [(ngModel)]="itemFormBqs.id_estacion">
                                    <option value="">Seleccione una opción</option>
                                    <option *ngFor="let item of rescursos.estaciones" [value]="item.id">
                                        {{item.nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="fechaUno">Fecha inicio:</label>
                                <input id="fechaUno" name="fechaUno" type="date"
                                    class="form-control input-sise form-control-sm" [(ngModel)]="itemFormBqs.fechaUno"
                                    required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="fechaDos">Fecha Fin:</label>
                                <input id="fechaDos" name="fechaDos" type="date"
                                    class="form-control input-sise form-control-sm" [(ngModel)]="itemFormBqs.fechaDos"
                                    required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-left">
                            <button type="submit" class="btn btn-sm btn-success"
                                [disabled]="!groupForm.form.valid">Consultar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12 text-right">
            <button type="button" class="btn btn-sm btn-success" (click)="onClickRegistrar()">Registrar</button>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <button type="button" class="btn btn-sm btn-primary" (click)="showHelp=true">Ayuda</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <div class="col-sm-12">
                <table class="table table-series-datos">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center th_fecha">Fecha</th>
                            <th class="text-center">Valor</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="col-sm-12 content-table">
                <table class="table">
                    <tbody>
                        <tr *ngFor="let dato of series.datos; let i=index;">
                            <td class="th_fecha">{{dato.fecha}}</td>
                            <td>{{dato.valor}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-8">
            <table class="table table-series">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">Gráfica</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center" *ngIf="series.datos.length>0">
                            <img *ngIf="series.grafica.img && series.grafica.estado" [src]="series.grafica.img"
                                class="grafica" (click)="verGrafica(series.grafica, 'Gráfica de datos consultados')">
                            <span *ngIf="series.grafica.oni && !series.grafica.oni.estado">{{series.grafica.msg}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br><br>
</div>
<div class="div-view-grafica" *ngIf="graficaSelect.ver">
    <div class="content-grafica">
        <div class="content-img-grafica">
            <img *ngIf="graficaSelect.src!=''" [src]="graficaSelect.src" [title]="graficaSelect.titulo">
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <button type="button" class="btn btn-sm btn-success"
                    (click)="graficaSelect.ver=!graficaSelect.ver">Volver</button>
            </div>
        </div>
    </div>
</div>
<div class="div-form-archivo" *ngIf="itemForm.ver">
    <div class="content-form">
        <form (ngSubmit)="guardar()" #groupFormDos="ngForm">
            <br>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="title-sise">Registrar Datos</h2>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input form-control-sm input-sise" id="file_name"
                            name="file_name" lang="es" required (change)="onChangeFile($event)">
                        <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6 text-right">
                    <button type="button" class="btn btn-sm btn-secondary"
                        (click)="itemForm.ver=false">Cancelar</button>
                </div>
                <div class="col-sm-6 text-left">
                    <button type="submit" class="btn btn-sm btn-success"
                        [disabled]="!groupFormDos.form.valid">Guardar</button>
                </div>
            </div>
            <br>
        </form>
    </div>
</div>

<div id="div-help-sise" *ngIf="showHelp">
    <div class="div-content-help-sise">
        <div>
            <p>En esta interfaz se permite gestionar los datos que corresponden a las lecturas de las variables tomadas
                en las estaciones de interés. Para la consulta de información es necesario seleccionar una estación, la
                variable a consultar y un rango de fechas (inicio y fin); los datos se listarán y se mostrarán en una
                gráfica. Hay que tener en cuenta que los datos son diarios.</p>
            <p>Para el registro o actualización de la información, se necesita diligenciar el siguiente formato:
                <a href="assets/files/formato_datos_validados.csv" target="_blank"
                    download>formato_datos_validados.csv</a> y subirlo en la opción de “Registrar Datos”, la cual se
                puede activar en el
                botón de “Registrar”. Los campos de formato son: fecha, valor, variable (ingresar el nombre de la
                variable tal cual está registrada en el sistema) y estación (ingresar el código de la estación). Para
                actualizar un registro o varios, solo es necesario ingresar la información a actualizar con la misma
                fecha y actualizar el valor.</p>
            <p>Nota: debido a la sensibilidad de la información, la eliminación de los registros se hará a través del
                personal de administración TI.</p>

        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <button type="button" class="btn btn-sm btn-success" (click)="showHelp=!showHelp">Volver</button>
            </div>
        </div>
    </div>
</div>