<div id="form-punto-gestion" class="container-fluid">
  <br />
  <div class="row">
    <div class="col-12 text-center">
      <h3>{{ title | uppercase }}</h3>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" #groupForm="ngForm">
    <div class="form-group">
      <label for="nombre">{{labelsApp.labels.nombre}}:</label>
      <div class="text-danger" *ngIf="nombre.touched && groupForm.controls['nombre'].errors">
        {{labelsApp.input_error.min_length_a}}</div>
      <input id="nombre" name="nombre" class="form-control input-sise" required minlength="3"
        [(ngModel)]="itemForm.nombre" #nombre="ngModel" />

      <label for="latitud">{{labelsApp.labels.latitud}}:</label>
      <div class="text-danger" *ngIf="latitud.touched && groupForm.controls['latitud'].errors">
        {{labelsApp.input_error.min_length_a}}</div>
      <input id="latitud" name="latitud" class="form-control input-sise" required minlength="3"
        [(ngModel)]="itemForm.latitud" #latitud="ngModel" />

      <label for="longitud">{{labelsApp.labels.longitud}}:</label>
      <div class="text-danger" *ngIf="longitud.touched && groupForm.controls['longitud'].errors">
        {{labelsApp.input_error.min_length_a}}</div>
      <input id="longitud" name="longitud" class="form-control input-sise" required minlength="3"
        [(ngModel)]="itemForm.longitud" #longitud="ngModel" />
      
      <label for="altitud">{{labelsApp.labels.altitud}}:</label>
      <div class="text-danger" *ngIf="altitud.touched && groupForm.controls['altitud'].errors">
        {{labelsApp.input_error.min_length_a}}</div>
      <input id="altitud" name="altitud" class="form-control input-sise" required minlength="3"
        [(ngModel)]="itemForm.altitud" #altitud="ngModel" />

        <label for="descripcion">{{labelsApp.labels.descripcion}}:</label>
        <div class="text-danger" *ngIf="descripcion.touched && groupForm.controls['descripcion'].errors">
          {{labelsApp.input_error.min_length_a}}</div>
        <input id="descripcion" name="descripcion" class="form-control input-sise" required minlength="3"
          [(ngModel)]="itemForm.descripcion" #descripcion="ngModel" />
  

     

    </div>
    <div class="row">
      <div class="col-6 text-right">
        <a class="btn btn-secondary" [routerLink]="['/puntosgestion']">{{ labelsApp.buttons.cancelar }}</a>
      </div>
      <div class="col-6 text-left">
        <button type="submit" class="btn btn-success"
          [disabled]="!groupForm.form.valid">{{ labelsApp.buttons.guardar }}</button>
      </div>
    </div>
  </form>
</div>
