<div id="form-variable" class="container-fluid">
  <br />
  <div class="row">
    <div class="col-12 text-center">
      <h3>{{ title | uppercase }}</h3>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" #groupForm="ngForm">
    <div class="form-group">
      <label for="nombre">{{labelsApp.labels.nombre}}:</label>
      <div class="text-danger" *ngIf="nombre.touched && groupForm.controls['nombre'].errors">
        {{labelsApp.input_error.min_length_a}}</div>
      <input id="nombre" name="nombre" class="form-control input-sise" required minlength="3"
        [(ngModel)]="itemForm.nombre" #nombre="ngModel" />

         
        <label for="valor">{{labelsApp.labels.constante}}:</label> 
          <div class="text-danger" *ngIf="constante.touched && groupForm.controls['constante'].errors">
                {{labelsApp.input_error.option}}</div>
                           
         <select id="constante" name="constante" [(ngModel)]="itemForm.constante" class="form-control input-sise" #constante="ngModel" required>
               <option [value]="1"> Si</option>
               <option [value]="0"> No</option>
         </select>   


         <label for="valor">{{labelsApp.labels.calculada}}:</label> 
         <div class="text-danger" *ngIf="calculada.touched && groupForm.controls['calculada'].errors">
               {{labelsApp.input_error.option}}</div>
                          
        <select id="calculada" name="calculada" [(ngModel)]="itemForm.calculada" class="form-control input-sise" #calculada="ngModel" required>
              <option [value]="1"> Si</option>
              <option [value]="0"> No</option>
        </select>         


          <label for="valor_defecto">{{labelsApp.labels.valor_defecto}}:</label>
          <div class="text-danger" *ngIf="valor_defecto.touched && groupForm.controls['valor_defecto'].errors">
            {{labelsApp.input_error.min_length_a}}</div>
          <input id="valor_defecto" name="valor_defecto" class="form-control input-sise" required minlength="1"
            [(ngModel)]="itemForm.valor_defecto" #valor_defecto="ngModel" />

        <label>{{labelsApp.labels.tipos_variable}}:</label>
        <div class="text-danger" *ngIf="id_tipo_variable.touched && groupForm.controls['id_tipo_variable'].errors">
          {{labelsApp.input_error.option}}</div>
        <select id="id_tipo_variable" name="id_tipo_variable" [(ngModel)]="itemForm.id_tipo_variable" class="form-control input-sise" #id_tipo_variable="ngModel" required>
          <option *ngFor="let tipoVariable of tipoVariableModel.getItems()" [value]="tipoVariable.id">
            {{ tipoVariable.nombre }}
          </option>
        </select>

        <label>{{labelsApp.labels.unidad_medida}}:</label>
        <div class="text-danger" *ngIf="id_unidad_medida.touched && groupForm.controls['id_unidad_medida'].errors">
          {{labelsApp.input_error.option}}</div>
        <select id="id_unidad_medida" name="id_unidad_medida" [(ngModel)]="itemForm.id_unidad_medida" class="form-control input-sise" #id_unidad_medida="ngModel" required>
          <option *ngFor="let unidadMedida of unidadMedidaModel.getItems()" [value]="unidadMedida.id">
            {{ unidadMedida.nombre }}
          </option>
        </select>        
      
    </div>
    <div class="row">
      <div class="col-6 text-right">
        <a class="btn btn-secondary" [routerLink]="['/variables']">{{ labelsApp.buttons.cancelar }}</a>
      </div>
      <div class="col-6 text-left">
        <button type="submit" class="btn btn-success"
          [disabled]="!groupForm.form.valid">{{ labelsApp.buttons.guardar }}</button>
      </div>
    </div>
  </form>
</div>
