<div id="div-actas" class="container-fluid">
    <div class="div-table">
      <div class="row">
        <div class="col-12">
          <table class="table">
            <thead class="theadtabla">
              <tr>
                <th class="th-cons-rows">#</th>
                <th>Nombre </th> 
                <th>Descripcion</th>
                <th>Fecha creacion</th>
                <th class="btn-crud">Editar</th>
                <th class="btn-crud">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let acta of actaModel.getItems(); let i=index;">
                <td>{{ i + 1 }}</td>
                <td>{{ acta.nombre}}</td>
                <td>{{ acta.descripcion }}</td>
                <td>{{ acta.fecha_creacion }}</td> 
                <td class="text-center">
                  <a class="btn btn-outline-light btn-sise" title="Editar" [routerLink]="['/acta/modificar', acta.id]">
                    <div class="div-btn update-btn"><img src="assets/imagenes/iconos.svg" /></div>
                  </a>
                </td>
                <td class="text-center">
                  <button class="btn btn-outline-light btn-sise" title="Eliminar" (click)="onClickDelete(acta)">
                    <div class="div-btn delete-btn"><img src="assets/imagenes/iconos.svg" /></div>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12 text-right">
          <a class="btn btn-success" [routerLink]="['/acta/crear']">Crear</a>
        </div>
      </div>
    </div>
</div>