<section>
  <app-header-sise *ngIf="autenticacionService.islogged()"></app-header-sise>
  <div id="content-body" [class]="(!autenticacionService.islogged()?'not-loggin':'')">
    <app-menu-sise *ngIf="autenticacionService.islogged()"></app-menu-sise>
    <div id="content-body-editable">
      <div id="div-breadcrumb" *ngIf="autenticacionService.islogged()">
        <div>
          <a *ngFor="let breadcrumb of breadcrumbService.getBreadcrumb();let i = index"
            (click)="breadcrumbService.goBack(i)"
            [routerLink]="[breadcrumb.url]">{{(i>0?'/':'')}}{{breadcrumb.title}}</a>
        </div>
      </div>
      <router-outlet *ngIf="autenticacionService.islogged()"></router-outlet>
      <app-login *ngIf="!autenticacionService.islogged()"></app-login>
    </div>
  </div>
  <app-footer-sise></app-footer-sise>
</section>
<app-alertas-sise [alert_sise]="messageBoxService.messageBox.alert_sise"></app-alertas-sise>
<app-loading-sise [loadingShow]="apiService.loadingShow"></app-loading-sise>