@import "../sass/estilos_generales"

$colorLetra: #fff
$colorMenu: #20273F
$tipoLetra: 'Barlow Condensed', sans-serif


*

    margin:0
    padding: 0
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    
/*Header*/

h1  
    color: negro




    /*BANNER*/

.banner
    width: 100%
    height:100px
    border: 1px solid white
    
    background-color: #20273F
    
    

    

h1
    font: $tipoLetra
    color: #fff
    text-decoration: none
    text-align: center
    padding: 20px 20px
    
    
    /*FOOTER*/

footer 
    background: #202020
    color: #fff
    width: 100%
    
    

.container.footer-all
    width: 100%
    
    max-width: 1200px
    margin: auto
    padding:40px

.container-body
    display: flex
    justify-contenent: space-between
   

.column1
    
    max-width: 400px

.column1 h1
    font-size: 20px
    margin-left: 100px
    
.column1 p 
    font-size: 14px
    color: #c7c7c7
    margin-top:20px
    margin-left: 100px

.column2
    max-width:400px
    margin-left:200px

column h1
    font-size:20px

.row
    padding-top:20px


column2 row
    margin-top:20px
    display: flex

  
.row a  
    margin-top: 10px
    margin-left: 10px
    color: #fff



.column3
    max-width:400px
    margin-left: 200px

.column3 label
    margin-top:10px
    
   

.column3 h1
    font-size: 20px

.column2 h1
    font-size:20px

.row2 label
    display: flex
    max-width:140px
    margin-top: 10px
    margin-left: 20px
    color: #c7c7c7

.row2
    margin-top: 20px
    display: flex
    

.container-footer
    width:100%
    
    background:#101010
    display: flex
    padding: 20px
    justify-contenent: space-between

.footer
    max-width: 1200px
    margin: auto
    display: flex
    justify-contenent: space-between

.copyright
    color: #c7c7c7

.copyright a 
    text-decoration: none
    color: #fff
    font-weight: bold

.information a
    text-decoration: none
    color: #c7c7c7

/*Footer responsive*/

@media screen and (max-width:1100px)
    .container-body 
       flex-wrap: wrap
        
    .column1
    
        max-width:100%
        margin-left: 10px
    
    .column1 p
        justify-contenent: space-between
    

    .column2
        margin-top: 40px
        margin-left: 120px
        

    .column3
        margin-top: 40px
        margin-left: 120px



____________________________________________________________________________________

/*Configuracion de la pagina*/
body
    background: #fff
    font-family: $tipoLetra
    line-height: 18px
    
    

a
    text-decoration: none
    color: $colorLetra

/*Configuracion del menu*/
.btn-menu
    padding:20px
    display: block
    background: #008080
    color: #20273F
    margin: auto

/*Configuracion del icno de menu*/
.btn-menu.icon
    float: right
    
   

.contenedor-menu 
    width: 30%
    min-width: 300px
    margin: 0px
    display: inline-block
    font: $tipoLetra
    line-height: 18px
    

.contenedor-menu.menu
    width:100%
    

.contenedor-menu.ul
    list-style: none
    

/*Color de los elementos a*/
.contenedor-menu .menu li a 
    color: white
    display: block
    padding: 15px 20px
    background: #20273F
    
 
/*Color al pasar mause por el menu*/
.contenedor-menu .menu li a:hover
    background: #1a95d5
    color:#fff

.contenedor-menu .menu .icon
    font-size: 12px
    line-height:18px
    color: yellow

.contenedor-menu .menu .icon.left
    float: left
    margin-right:10px

.contenedor-menu .menu .icon.right
    float: right
    margin-right: 10px

.contenedor-menu .menu ul
    /*display: none*/

.contenedor-menu .menu ul li a
    background: #2DB4CF
    color: e9e9e9

.contenedor-menu .menu .active  a
    background: #20273F
    color: #fff



@media screen and (max-width: 450px)
    body    
        padding-top: 80px

    .contenedor-menu    
        margin: 0
        width: 100%
        position: fixed
        top: 0
        z-index: 1000

    .btn-menu
        display: block

    .contenedor-menu .menu
        display: none



    
    


