@import "../sass/estilos_generales"


div#content-body
    display: flex
    justify-content: center
    align-items: flex-start

div#content-body-editable
    padding: 10px
    margin-left: 300px
    width: calc(100% - 300px)

div#div-breadcrumb
    div
        max-width: max-content
        background-color: #28a7451a
        padding: 10px
        width: fit-content
        border-radius: 10px
        font-size: 10px
        font-family: 'Barlow Condensed', sans-serif

div#content-body.not-loggin 
    div#content-body-editable
        margin-left: 0px
        width: 100%

@media (max-width: 750px)
    div#content-body-editable
        width: 100%
        margin-left: 0px