<footer [class]="'container-fluid ' + (!this.autenticacionService.islogged()?'no-loggin':'')">
    <div class="row">
        <div class="col-lg-4">
            <h4>Universidad de Boyacá</h4>
            <p>
                Vigilada Mineducación - Personería Jurídica Nº 6553 de mayo de 1981 -
                Resolución Nº 2910 del 16 de septiembre de 2004 MEN
            </p>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <h4 class="col-12">Redes Sociales</h4>
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="https://www.facebook.com/universidaddeboyaca/" class="fab fa-facebook"></a>
                    <a href="https://www.facebook.com/universidaddeboyaca/">
                        Siguenos en facebook</a>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <a href="https://twitter.com/univboyaca" class="fab fa-twitter"></a>
                    <a href="https://twitter.com/univboyaca"> Siguenos en Twitter</a>
                </div>
            </div>


            <div class="row">
                <div class="col-12">
                    <a href="https://www.instagram.com/universidad_de_boyaca/?hl=es-la" class="fab fa-instagram"></a>
                    <a href="https://www.instagram.com/universidad_de_boyaca/?hl=es-la">
                        Siguenos en Instagram</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-12">
                    <h4>Información Contactos</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <i class="fas fa-home"></i>
                    <label>Tunja Carrera 2ª Este No. 64 - 169 </label>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <i class="fas fa-phone"></i>
                    <label>
                        Teléfono:(8) 7452105
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <i class="fas fa-mobile-alt"></i>
                    <label>
                        Celular:3174003603
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row copyright">
        <div class="col-12 text-center">Copyrigth ©. Todos los derechos reservados. 2020</div>
    </div>
    <!--
    <div class="container-footer-all">
        <div class="container-body">
            <div class="column1">
                <h1>Universidad de Boyacá</h1>
                <p>
                    Vigilada Mineducación - Personería Jurídica Nº 6553 de mayo de 1981 -
                    Resolución Nº 2910 del 16 de septiembre de 2004 MEN
                </p>
            </div>
            <div class="column2">
                <h1>Redes Sociales</h1>
                <div class="row">
                    <a href="https://www.facebook.com/universidaddeboyaca/" class="fab fa-facebook"></a>
                    <a href="https://www.facebook.com/universidaddeboyaca/">
                        Siguenos en facebook</a>
                </div>

                <div class="row">
                    <a href="https://twitter.com/univboyaca" class="fab fa-twitter"></a>
                    <a href="https://twitter.com/univboyaca"> Siguenos en Twitter</a>
                </div>

                <div class="row">
                    <a href="https://www.instagram.com/universidad_de_boyaca/?hl=es-la" class="fab fa-instagram"></a>
                    <a href="https://www.instagram.com/universidad_de_boyaca/?hl=es-la">
                        Siguenos en Instagram</a>
                </div>
            </div>
            <div class="column3">
                <h1>Información Contactos</h1>
                <div class="row2">
                    <i class="fas fa-home"></i>
                    <label>Tunja Carrera 2ª Este No. 64 - 169 </label>
                </div>

                <div class="row2">
                    <i class="fas fa-phone"></i>
                    <label>
                        Teléfono:(8) 7452105
                    </label>
                </div>

                <div class="row2">
                    <i class="fas fa-mobile-alt"></i>
                    <label>
                        Celular:3174003603
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="container-footer">
        <div class="footer">
            <div class="copyright">
                Copyrigth ©. Todos los derechos reservados. 2020
            </div>
        </div>
    </div>
    -->
</footer>