@import "../../../../sass/estilos_generales"

footer 
    background: #202020
    color: #fff
    width: 100%
    padding: 20px
    font-size: 10pt
    padding-bottom: 0px
    padding-left: 315px
    a, label, p
        color: #c7c7c7
        margin: 0px

.copyright
    padding: 10px
    background: #101010
    font-size: 12pt
    color: #c7c7c7
    margin-top: 15px

footer.no-loggin
    padding-left: 20px