@import "../../../../../sass/_estilos_generales"

//Variables
$backgroundHoverIndex: #2db4cf
$colorletraVariables: #fff
$colorfondoTAB: #20273f
$colorBordeTAB: #20273f


    
.focusRegla
    background-color: $backgroundHoverIndex !important

#Actas
    
    border: $colorBordeTAB
    background-color: $colorfondoTAB
    color:$colorletraVariables
    border: double
    max-height: 42px
    

#Escenario
    border: $colorBordeTAB
    background-color: $colorfondoTAB
    color:$colorletraVariables
    border: double
    max-height: 42px

.container
    border: $colorBordeTAB
    border: 1px solid 
    