<div id="form-modificar-mesatecnica" class="container-fluid">
  <br>

  <div class="row">
    <div class="col-12 text-center">
      <h3>{{title | uppercase }}</h3>
    </div>
  </div>


  <form (ngSubmit)="onSubmit()" #groupForm="ngForm">
    <div class="form-row">

      <div class=" col-md-2"></div>

      <div class="form-group col-md-2">
        <label>Código</label>
        <input id="codigo" name="codigo" readonly class="form-control input-sise" [(ngModel)]="itemForm.codigo"
          #codigo="ngModel">
      </div>
      <div class="form-group col-md-3">
        <label>Fecha Creación</label>
        <input id="fecha_creacion" readonly name="fecha_creacion" class="form-control input-sise"
          value="{{itemForm.fecha_creacion | date:'yyyy-MM-dd'}}">
      </div>

      <div class="form-group col-md-3">
        <label>Fecha Cierre</label>
        <input id="fecha_cierre" name="fecha_cierre" placeholder="SIN CERRAR" readonly class="form-control input-sise"
          value="{{itemForm.fecha_cierre | date:'yyyy-MM-dd'}}">
      </div>

      <div class=" col-md-2"></div>
      <div class=" col-md-2"></div>
      <div class="form-group col-md-4">
        <label>Fecha Inicio Periodo Simulación </label>
        <input id="fecha_inicio_simulacion" readonly name="fecha_inicio_simulacion" class="form-control input-sise"
          [(ngModel)]="itemForm.fecha_inicio_simulacion" #fecha_inicio_simulacion="ngModel">
      </div>

      <div class="form-group col-md-4">
        <label>Fecha Fin Periodo Simulación</label>
        <input id="fecha_fin_simulacion" readonly name="fecha_fin_simulacion" class="form-control input-sise"
          [(ngModel)]="itemForm.fecha_fin_simulacion" #fechaFin="ngModel">
      </div>

      <div class="col-md-2"></div>

      <div class="col-md-2"></div>
      <div class="form-group col-md-8">
        <label>Descripción</label>
        <textarea [disabled]="!editarForm" id="descripcion" name="descripcion" class="form-control input-sise" rows="4"
          required minlength="4" [(ngModel)]="itemForm.descripcion" #descripcion="ngModel"></textarea> </div>
      <div class="col-md-2"></div>

    </div>


    <div class="form-row">
      <div class=" col-md-2"></div>
      <div class="form-group col-md-4">
        <label *ngIf="editEstado.accionEstado">Estado</label>
        <div class="form-check">
          <label *ngIf="editEstado.valorEstado==7" class="form-check">
            <input [disabled]="!editarForm" id="id_estado" type="radio" class="form-check-input" name="id_estado"
              (click)="handleChange(3)">Activar</label>
          <label *ngIf="editEstado.valorEstado==3" class="form-check">
            <input [disabled]="!editarForm" id="id_estado" type="radio" class="form-check-input" name="id_estado"
              (click)="handleChange(7)">Inactivar</label>
          <label *ngIf="editEstado.valorEstado==3" class="form-check">
            <input [disabled]="!editarForm" id="id_estado" type="radio" class="form-check-input" name="id_estado"
              (click)="handleChange(2)">Cerrar</label>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-6 text-right">
        <a class="btn btn-secondary" style="color: #fff;" (click)="goToIndex()">{{nombreBoton.tituloboton}}</a>
      </div>
      <div class="col-6 text-left">
        <button *ngIf="editarForm" type="submit" class="btn btn-success"
          [disabled]="!groupForm.form.valid">Guardar</button>
      </div>
    </div>
  </form>

  <br>
  <br>
  <div class="container-fluid">
    <div class="row" style="margin-left: -1px;">
      <button id="Actas" [className]="(nombreIndex =='Actas'?'focusRegla':'')+ ' col-5.5 btn-lg '"
        (click)="cambioIndex(0)" >Actas</button>
      <button id="Escenario" [className]="(nombreIndex=='Escenarios'?'focusRegla':'')+ ' col-5.5 btn-lg '"
        (click)="cambioIndex(1)"  >Escenarios </button >
    </div>
  </div>

  <app-escenarios *ngIf="cambioValorIndex[1]" [mesa_tecnica]="itemForm" [escenarios]="escenarios"></app-escenarios>
  <app-actas *ngIf="cambioValorIndex[0]" [id_mesa_tecnica]="id"></app-actas>

</div>