<!-- Flexbox container for aligning the toasts -->
<div id="alert-error" class="div-alert" *ngIf="alert_sise.type=='error' && alert_sise.show">
    <!-- Then put toasts within -->
    <div class="toast">
        <div class="toast-header">
            <strong class="mr-auto">{{ labelsApp.messages.titles.error }}</strong>
            <button type="button" class="ml-2 mb-1 close" (click)="alert_sise.onClickCerrar()">
                <span>&times;</span>
            </button>
        </div>
        <div class="toast-body">
            {{alert_sise.message}}
        </div>
    </div>
</div>

<div id="alert-ok" class="div-alert" *ngIf="alert_sise.type=='ok' && alert_sise.show">
    <!-- Then put toasts within -->
    <div class="toast">
        <div class="toast-header">
            <strong class="mr-auto">{{ labelsApp.messages.titles.mensaje }}</strong>
            <button type="button" class="ml-2 mb-1 close" (click)="alert_sise.onClickCerrar()">
                <span>&times;</span>
            </button>
        </div>
        <div class="toast-body">
            {{alert_sise.message}}
        </div>
    </div>
</div>

<div id="alert-conf" class="div-alert" *ngIf="alert_sise.type=='conf' && alert_sise.show">
    <!-- Then put toasts within -->
    <div class="toast">
        <div class="toast-header">
            <strong class="mr-auto">{{ labelsApp.messages.titles.msg_cofirmacion }}</strong>
            <button type="button" class="ml-2 mb-1 close" (click)="alert_sise.onClickCerrar()">
                <span>&times;</span>
            </button>
        </div>
        <div class="toast-body">
            {{alert_sise.message}}
        </div>
        <div class="toast-footer row">
            <div class="col-6 text-right">
                <button type="button" class="btn btn-sm btn-danger" (click)="alert_sise.onClickNo()">
                    &nbsp;&nbsp;<span>{{ labelsApp.buttons.no }}</span>&nbsp;&nbsp;
                </button>
            </div>
            <div class="col-6 text-left">
                <button type="button" class="btn btn-sm btn-success" (click)="alert_sise.onClickSi()">
                    &nbsp;&nbsp;&nbsp;<span>{{ labelsApp.buttons.si }}</span>&nbsp;&nbsp;&nbsp;
                </button>
            </div>
        </div>
        <br>
    </div>
</div>