@import "../../../../sass/_estilos_generales"


button.close
    color: #181e30
    opacity: 1

.toast
    box-shadow: 0px 1px 8px 5px rgba(0, 0, 0, 0.38)
    opacity: 1
    min-width: 250px

.toast-body
    background-color: rgba(247, 247, 247, 0.30)
    font-size: 12pt
    padding: 25px
.toast-header
    background-color: white

.div-alert
    position: fixed
    top: 0px
    left: 0px
    z-index: 3
    justify-content: center !important
    align-items: center !important
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.24)
    display: flex

#alert-error
    .toast-header, .toast-body
        color: red

#alert-ok
    .toast-header, .toast-body
        color: green

#alert-conf
    .toast-header, .toast-body
        color: #20273F
        text-align: center
    
    
