<div id="form-actas" class="container-fluid">
  <br>
  <div class="row">
      <div class="col-12 text-center">
          <h3>{{title | uppercase }}</h3>
      </div>
  </div>
  <form (ngSubmit)="onSubmit()" #groupForm="ngForm">
           
      <div class="form-group col-md-3">
        <label>Descripcion:</label>
        <textarea id="descripcion" name="descripcion" class="form-control input-sise" required minlength="4"
          [(ngModel)]="itemForm.descripcion" #descripcion="ngModel"></textarea>
      </div>
      <div class="form-group ">
        <label>Fecha Creacion</label>
        <input id="fecha_creacion" name="fecha_creacion"  class="form-control input-sise" type="date"
          [(ngModel)]="itemForm.fecha_creacion" #fecha_creacion="ngModel">
      </div>
      
      
      
      <!-- 
      <div class="form-group col-md-3">
        <label>Bucar Documento</label>
        <input id="adjunto" name="adjunto" readonly class="form-control input-sise" type="file"
          [(ngModel)]="itemForm.adjunto" #adjunto="ngModel">
      </div>

       -->
      <div class="row">
          <div class="col-6 text-right">
            <a class="btn btn-secondary" 
            [routerLink]="['/modificarmtba/modificar/',itemForm.id_mesa_tecnica]">Cancelar</a>
          </div>
          <div class="col-6 text-left">
              <button type="submit" class="btn btn-success" [disabled]="!groupForm.form.valid">Guardar</button>
          </div>
      </div>
  </form>
</div>