@import "../../../../../sass/_estilos_generales"
.botones
    float: right
    margin-right: 0
    margin-top: 20rem
    
.btn-basic
    border: 1px solid black
    border-radius: 5px


#QE
    border: #20273f
    background-color: #20273f
    color:#fff
    

#QS
    border:  #20273f 
    background-color:#20273f
    color:#fff
    

#Compuerta
    border:  #20273f
    background-color: #20273f
    color:#fff
    

#QE:hover
    background: #2db4cf
    color:#fff

#QE:focus 
    
    background-color: #2db4cf



#QE:active
    background: #20273f87

#QS:hover
    background: #2db4cf
    color:#fff

#QS:active
    background: #20273f87
    
#QS:focus 
    
    background-color: #2db4cf


#Compuerta:hover
    background: #2db4cf
    color:#fff

#Compuerta:active
    background: #20273f87

#Compuerta:focus 
    
    background-color: #2db4cf

