<section id="login" class="mb-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_login">
          <div class="card">
            <div class="card-body text-center">
              <form #formLogin="ngForm" (ngSubmit)="onLogin(formLogin)">
                <h1 class="h3 mb-3 font-weight-normal" *ngIf="!isError">
                  Login
                </h1>
                <div class="alert alert-danger" role="alert" *ngIf="isError">
                  Username o password vacia
                </div>
                <div class="form-group">
                  <input
                    type="username"
                    id="username"
                    name="username"
                    class="form-control"
                    placeholder="username"
                    [(ngModel)]="user.username"
                    required
                  />
                </div>
                <div class="form-group">
                  <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control"
                    placeholder="Password"
                    [(ngModel)]="user.password"
                    required
                  />
                </div>

                <button type="submit" class="btn btn-lg btn-primary btn-block">
                  Login
                </button>
                <u (click)="onClickOlvidarPass()">Olvidaste tú contraseña</u>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
