@import "../../../../../sass/_estilos_generales"

/*Variables*///I
$colorletraVariables: #fff
$colorfondoQE: #20273f
$colorfondoQS: #20273f
$colorfondoCompuertas:#20273f
$colorBordeVariablesRO: #20273f
$backgroundHoverVariablesRO: #2db4cf

/*Escenario*/


#escenario
    width: 100%
    padding-right: 15px
    padding-left: 15px
    margin-right: 0
    margin-left: 60px
    

#confBotonVer
    margin-left: 94px
    margin-top: 10px
    padding: 15px

.checkVisualziar
    position: relative
    border: 1px solid #97c5d4 !important
    border-radius: 10px
    padding: 8px

#confBotonesEscenario
    margin-left: 42px
    margin-top: 10px
    padding: 15px

#confBotonesForm
    padding: 10px

/*Formulario*/



.botones
    float: right
    margin-right: 0
    margin-top: 20rem
    
.btn-basic
    border: 1px solid black
    border-radius: 5px
    

    
   

#QE
    border: $colorBordeVariablesRO
    background-color: $colorfondoQE
    color:$colorletraVariables
    border: double
    

#QS
    border:  $colorBordeVariablesRO
    background-color:#20273f
    color:$colorletraVariables
    border: double
    

#Compuerta
    border:  $colorBordeVariablesRO
    background-color: #20273f
    color:$colorletraVariables
    border: double

#QE:hover
    background: $backgroundHoverVariablesRO
    color:$colorletraVariables



#QS:hover
    background: $backgroundHoverVariablesRO
    color:$colorletraVariables


#Compuerta:hover
    background: $backgroundHoverVariablesRO
    color:$colorletraVariables


.focusRegla
    background-color: $backgroundHoverVariablesRO !important

.configuracionFormularioVer
    position: fixed
    top: 0px
    left: 0px
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.44)
    display: flex
    justify-content: center
    align-items: center

.formulario
    margin: auto
    width: 50%
    min-width: 300px
    background-color: #fff
    min-height: 95%
    border-radius: 15px

.configuracionBotones
    padding: 20px
    

#tablaFormulario
    height: 250px
    overflow-y: auto

.encabezadoPG
    background-color: #e9ecef

.botonesCrearVer
    padding-top: 30px
    padding-left: 10px

.botonVer
    padding-top: 28px
    padding-left: 10px
    margin-top: -5px

.labelPuntoGestion
    padding: 10px
    padding: 10px
    text-align: center
    padding-top: 15px
    font-size: 16px

.encabezadoTablaFormulario
    background-color: #20273dde
    color: #fff
    border-radius: 10px
    font-size: 18px

#serie
    padding-top: 0px
    max-height: 41px
    font-size: 14px
    padding: 14px