<div id="escenario" class="container-fluid"
  >
  <br>
  <div id="escenario_base" class="container-fluid">
    <form (ngSubmit)="onSubmit()" #groupForm="ngForm">
      <div class="form-row" style="box-shadow: 1px 10px 20px #20273f; border-radius:20px">
        <div class="col-12 text-left" style="margin-right: 5px;">
          <h3 style="text-align: center;">ESCENARIO BASE</h3>
        </div>
        
        <div class="col-1"></div>

        <div class="form-group col-md-4">
          <label>Codigo:</label>
          <input id="codigo" name="codigo" readonly class="form-control input-sise" required minlength="4"
            [(ngModel)]="itemForm.codigo" #codigo="ngModel">
        </div>
        
         <div class="form-group col-md-3">
          <label>Fecha Inicio Simulacion</label>
          <input id="fecha_inicio_simulacion" name="fecha_inicio_simulacion" readonly class="form-control input-sise" type="date"
            [(ngModel)]="itemForm.fecha_inicio_simulacion" #fecha_inicio_simulacion="ngModel">
        </div>  
        
        
        
          <div class="form-group col-md-3">
            <label>Fecha Fin Simulacion</label>
            <input id="fecha_fin_simulacion" name="fecha_fin_simulacion" readonly class="form-control input-sise" type="date"
            [(ngModel)]="itemForm.fecha_fin_simulacion" #fecha_fin_simulacion="ngModel">
          </div>
        
        
          <div class="col-1"></div>
          <div class="col-1"></div>
        <div class="form-group col-md-10">
          <label >Descripcion:</label >
          <textarea [disabled]="!editarForm" id="descripcion" name="descripcion" class="form-control input-sise" required minlength="4"
            [(ngModel)]="itemForm.descripcion" #descripcion="ngModel" ></textarea>
        </div>

        
        <div class="col-4"></div>

        <div id="confBotonVer" class="row" >
          <div class="col-6 text-left">
          <button style="margin-top: 8px" [disabled]="!editarForm" id="id_estado"  class="btn btn-info" name="id_estado" (click)="oncambiarIdEstado(9)">Ver</button>
          </div>
        </div>
        <br>

        <br>  
      </div>      
    </form>
  </div>
  <br>
  <br>
  <br>

  <!--SUB ESCENARO-->
  <form (ngSubmit)="onSubmit()" #groupForm="ngForm">
    <div class="form-row" style="box-shadow: 1px 10px 20px #20273f; border-radius:20px">
      <div class="col-12 text-left" style="margin-right: 5px;">
        <h3 style="text-align: center;">SUB ESCENARIO</h3>
      </div>
      <div class=" col-1"></div>
      
      <div class="form-group col-md-4">
        <label>Codigo:</label>
        <input id="codigo" name="codigo" readonly class="form-control input-sise" required minlength="4"
          [(ngModel)]="itemForm.codigo" #codigo="ngModel">
      </div>      
      
      <div class="form-group col-md-4">
        <label>Fecha Creacion</label>
        <input id="fecha_creacion" name="fecha_creacion" readonly class="form-control input-sise" type="date"
          [(ngModel)]="itemForm.fecha_creacion" #fecha_creacion="ngModel">
      </div>

 <!-- 
      <div class=" col-2"></div>
      <div class=" col-2"></div>
       <div class="form-group col-md-3">
        <label>Fecha Fin Simulacion</label>
        <input id="fecha_fin_simulacion" name="fecha_fin_simulacion" readonly class="form-control input-sise" type="date"
          [(ngModel)]="itemForm.fecha_fin_simulacion" #fecha_fin_simulacion="ngModel">
      </div>

      
        <div class="form-group col-md-3">
          <label>Fecha Inicio Simulacion</label>
          <input id="fecha_inicio_simulacion" name="fecha_inicio_simulacion" readonly class="form-control input-sise" type="date"
            [(ngModel)]="itemForm.fecha_inicio_simulacion" #fecha_inicio_simulacion="ngModel">
        </div>
  -->      



      
      <div class=" col-md-2">
        <label >Estado</label>
          <div class="checkVisualziar ">
            <label class="form-check" >
              <input [disabled]="!editarForm" id="id_estado" type="checkbox" class="form-check-input" name="id_estado" (click)="oncambiarIdEstado(9)">Visualizar</label>
          </div>
      </div>

      <div class=" col-1"></div>
      <div class=" col-1"></div>
      <div class="form-group col-md-10">
        <label >Descripcion:</label >
        <textarea [disabled]="!editarForm" id="descripcion" name="descripcion" class="form-control input-sise" required minlength="4"
          [(ngModel)]="itemForm.descripcion" #descripcion="ngModel" ></textarea>
      </div>

      <div class="col-4"></div>
      
      <div id="confBotonesEscenario" class="row" >
        <div class="col-6 text-right">
          <a class="btn btn-secondary"
            [routerLink]="['/modificarmtba/modificar/',itemForm.id_mesa_tecnica]">{{nombreBoton.tituloboton}}</a>
        </div>
        <div class="col-6 text-left">
          <button *ngIf="editarForm" type="submit" class="btn btn-success" [disabled]="!groupForm.form.valid">Guardar</button>
        </div>
      </div>
      <br>
      <div class="col-2"></div>

    </div>
    
  </form>
  
</div>
<br>
<br>

<!--REGLAS DE OPERACION-->

<div id="form-reglas operacion" class="container-fluid">
  <br>
  <div class="container-fluid" style="box-shadow: 1px 10px 20px #20273f; border-radius:20px">
    <div class="row"  >
      <div class="col-12 text-center">
        <h3>REGLAS DE OPERACIÓN</h3>
      </div>
      <button id="QE" class="bordeQE" [className]="(nombreVariable=='QE'?'focusRegla':'')+ ' col-4 btn-lg '"
        (click)="onCLickReglasOperacion('QE')">QE</button>
      <button id="QS" [className]="(nombreVariable=='QS'?'focusRegla':'')+ ' col-4 btn-lg '"
        (click)="onCLickReglasOperacion('QS')">QS</button>
      <button id="Compuerta" [className]="(nombreVariable=='AC'?'focusRegla':'')+ ' col-4 btn-lg '"
        (click)="onCLickReglasOperacion('AC')">Compuertas</button>
    </div>
    <div class="row">
      <table class="table table-hover col-12">
        
        <thead class="encabezadoPG">
          <td align="center">Punto de Gestion</td>
          <td align="center">Grupo Regla Operación</td>
          <td align="center">Descripción</td>
          <td *ngIf="editarForm">Crear </td> 
          <td>Ver</td>
          
        </thead>
        <tbody>
          <tr *ngFor="let puntoGestion of datos; let i=index;">
            <td class="labelPuntoGestion">
              {{puntoGestion.nombre_punto_gestion}}
            </td>
            <td>
              <!--<label>Serie </label>-->
              <select id="serie" class="form-control input-sise" name="codigo{{i}}"
                [(ngModel)]="codigosReglasOperacion[i].id_codigo_reglas_operacion" (change)="onChangeCodigoRO(i)"
                title="Serie">
                <option *ngFor="let codigoRO of puntoGestion.codigos_reglas_operacion; let i_ro=index;"
                  value="{{codigoRO.id}}">{{codigoRO.codigo}}</option>
              </select>
            </td>
            <td>
             <!--<label>Descripción</label>--> 
              <textarea id="descripcion{{i}}" name="descripcion{{i}}" readonly class="form-control input-sise"
                [(ngModel)]="codigosReglasOperacion[i].descripcion" title="Descripción"></textarea>
            </td>
            <td *ngIf="editarForm" class="botonesCrearVer">
              <a class="btn btn-outline-light btn-sise" title="Crear" (click)="onClickCrearReglaOperacion(i)">
                <div class="div-btn crear-btn"><img src="assets/imagenes/iconos.svg" /></div>
              </a>
            </td>
            <td class="botonVer">
              <a class="btn btn-outline-light btn-sise" title="Ver" (click)="onClickVerReglaOperacion(i)">
                <div class="div-btn visualizar-btn"><img src="assets/imagenes/iconos.svg" /></div>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row" id="confBotonesForm">
      
      <div class="col-6 text-right">
        <button *ngIf="editarForm" type="button" class="btn btn-secondary" (click)="onClickCancelarReglasOperacion()">{{nombreBoton.tituloboton}}</button>
      </div>
      <div class="col-6 text-">
        <button *ngIf="editarForm" type="button" class="btn btn-success" (click)="onClickReglasOperacion()"> Guardar</button>
      </div>
    </div>
  </div>
</div>
<br>
<br>

  <div class="configuracionFormularioVer" *ngIf="formularioValoresRO.ver ">
    <div class="formulario">
      <br>
      <div class="row">
        <div class="col-12 text-center">
          <h4>{{formularioValoresRO.titulo | uppercase }}  {{nombreVariable | uppercase}}</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <form  (ngSubmit)="guardarNuevoGrupo()" #groupForm="ngForm" class="col-8">
          <div class="row">
            <div class="col-12">
              <label for="codigo">Código </label>
              <input type="text" readonly id="codigo" name="codigo" class="form-control input-sise"
                [disabled]="!formularioValoresRO.editar"
                [(ngModel)]="valoresReglasOperacion.codigo">
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label for="descripcion">Descripción </label>
              <textarea id="descripcion" name="descripcion" class="form-control input-sise" rows="4"
                [disabled]="!formularioValoresRO.editar" placeholder="Descripción"
                [(ngModel)]="valoresReglasOperacion.descripcion"></textarea>
            </div>
          </div>
          <br>
          <div id="tablaFormulario" class="row">
            <table class="table  col-12" align="center">
              <thead>
                <tr class="encabezadoTablaFormulario" align="center">
                  <th>FECHA </th>
                  <th>VALORES DE {{nombreVariable | uppercase}} </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of valoresReglasOperacion.valores; let i=index;">
                  <td>{{item.dia+'/'+item.mes}}</td>
                  <td>
                    <input type="text" name="valor{{i}}" class="form-control input-sise"
                      [disabled]="!formularioValoresRO.editar" [(ngModel)]="item.valor">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <br>
          <br>
          <br>
          <div class="row">
            <div class="col-6 text-right ">
              <button type="button" class="btn btn-secondary"
                (click)="formularioValoresRO.ver=false">{{nombreBoton.tituloboton}}</button>
            </div>
            <div class="col-6 text">
              <button *ngIf="estadoBoton" type="submit" class="btn btn-success" [disabled]="!groupForm.form.valid"
                >Guardar</button>
            </div>
          </div>




        </form>
        <br>
      </div>
    </div>  
  
</div>