<div id="form-limite" class="container-fluid">
    <br />
    <div class="row">
      <div class="col-12 text-center">
        <h3>{{ title | uppercase }}</h3>
      </div>
    </div>
    <form (ngSubmit)="onSubmit()" #groupForm="ngForm">
      <div class="form-group">
        <label for="nombre">{{labelsApp.labels.nombre}}:</label>
        <div class="text-danger" *ngIf="nombre.touched && groupForm.controls['nombre'].errors">
          {{labelsApp.input_error.min_length_a}}</div>
        <input id="nombre" name="nombre" class="form-control input-sise" required minlength="3"
          [(ngModel)]="itemForm.nombre" #nombre="ngModel" />


          <label for="valor">{{labelsApp.labels.valor}}:</label>
          <div class="text-danger" *ngIf="valor.touched && groupForm.controls['valor'].errors">
            {{labelsApp.input_error.min_length_a}}</div>
          <input id="valor" name="valor" class="form-control input-sise" required minlength="1"
            [(ngModel)]="itemForm.valor" #valor="ngModel" />

            <label for="valor">{{labelsApp.labels.constante}}:</label> 
            <div class="text-danger" *ngIf="constante.touched && groupForm.controls['constante'].errors">
                {{labelsApp.input_error.option}}</div>
                           
                <select id="constante" name="constante" [(ngModel)]="itemForm.constante" class="form-control input-sise" #constante="ngModel" required>
                    <option [value]="1"> Si</option>
                    <option [value]="0"> No</option>
                </select>
            
  
  
          <label>{{labelsApp.labels.punto_gestion}}:</label>
          <div class="text-danger" *ngIf="id_punto_gestion.touched && groupForm.controls['id_punto_gestion'].errors">
            {{labelsApp.input_error.option}}</div>
          <select id="id_punto_gestion" name="id_punto_gestion" [(ngModel)]="itemForm.id_punto_gestion" class="form-control input-sise" #id_punto_gestion="ngModel" required>
            <option *ngFor="let puntoGestion of puntoGestionModel.getItems()" [value]="puntoGestion.id">
              {{ puntoGestion.nombre }}
            </option>
          </select>

          <label>{{labelsApp.labels.variable}}:</label>
          <div class="text-danger" *ngIf="id_variable.touched && groupForm.controls['id_variable'].errors">
            {{labelsApp.input_error.option}}</div>
          <select id="id_variable" name="id_variable" [(ngModel)]="itemForm.variable" class="form-control input-sise" #id_variable="ngModel" required>
            <option *ngFor="let variable of variableModel.getItems()" [value]="variable.id">
              {{ variable.nombre }}
            </option>
          </select>
          
          <label>{{labelsApp.labels.tipo_uso}}:</label>
          <div class="text-danger" *ngIf="id_tipo_uso.touched && groupForm.controls['id_tipo_uso'].errors">
            {{labelsApp.input_error.option}}</div>
          <select id="id_tipo_uso" name="id_tipo_uso" [(ngModel)]="itemForm.id_tipo_uso" class="form-control input-sise" #id_tipo_uso="ngModel" required>
            <option *ngFor="let tipoUso of tipoUsoModel.getItems()" [value]="tipoUso.id">
              {{ tipoUso.nombre }}
            </option>
          </select>
        
      </div>
      <div class="row">
        <div class="col-6 text-right">
          <a class="btn btn-secondary" [routerLink]="['/limites']">{{ labelsApp.buttons.cancelar }}</a>
        </div>
        <div class="col-6 text-left">
          <button type="submit" class="btn btn-success"
            [disabled]="!groupForm.form.valid">{{ labelsApp.buttons.guardar }}</button>
        </div>
      </div>
    </form>
  </div>
  