<div id="div-escenarios" class="container-fluid">
    <div class="div-table">
      <div class="row">
        <div class="col-12">
          <table class="table">
            <thead class="theadtabla">
              <tr>
                <th class="th-cons-rows">#</th>
                <th>Descripcion</th>
                <th>Fecha creacion</th>
                <th>Fecha aprobacion</th>
                <th>Estado</th>
                <th class="btn-crud">Editar</th>
                <th class="btn-crud">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let escenario of escenarioModel.getItems(); let i=index;">
                <td>{{ i + 1 }}</td>
                <td>{{ escenario.descripcion }}</td>
                <td>{{ escenario.fecha_creacion }}</td>
                <td>{{ escenario.fecha_aprobacion }}</td>
                <td>{{ escenario.estado}}</td>
                <td class="text-center">
                  <a class="btn btn-outline-light btn-sise" title="Editar" (click)="editEscenario(escenario)">
                    <div class="div-btn update-btn"><img src="assets/imagenes/iconos.svg" /></div>
                  </a>
                </td>
                <td class="text-center">
                  <button class="btn btn-outline-light btn-sise" title="Eliminar" (click)="onClickDelete(escenario)">
                    <div class="div-btn delete-btn"><img src="assets/imagenes/iconos.svg" /></div>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12 text-right">
          <form (ngSubmit)="onSubmit()" #groupForm="ngForm">
            <button *ngIf="editarForm" (Click)="crear()" class="btn btn-success">Crear</button>
          </form>
        </div>
      </div>
    </div>
  </div>