<div id="form-mesa-tecnica-crear" class="container-fluid">
    <br>

    <div class="row">
        <div class="col-12 text-center">

            <h3>{{title | uppercase }}</h3>
        </div>
    </div>

    <div id="form-mesa-tecnica-crear">

        <form (ngSubmit)="onSubmit()" #groupForm="ngForm">
            <!--<div class="form-row">
            <div class=" col-md-2"></div>
            <div class="form-group col-md-4">
                <label >Código</label>
                <input id="codigo" name="codigo" class="form-control input-sise" required minlength="4"
                [(ngModel)]="itemForm.codigo" #codigo="ngModel">           
             </div>-->
            <!--  <div class="form-group col-md-12">
                
                    <label >Fecha Inicio Periodo Simulación</label>
                    <input id="fecha_inicio_simulacion" name="fecha_inicio_simulacion" class="form-control input-sise" type="date" required minlength="4"
                    [(ngModel)]="itemForm.fecha_inicio_simulacion" #fecha_inicio_simulacion="ngModel">  
                
            </div>
        -->
            <div class="row">
                <div class="form-group col-md-6 ">

                    <label>Mes</label>
                    <select name="mes" [(ngModel)]="inputMes.mes" class="form-control input-sise">
                        <option value="01">Enero</option>
                        <option value="02">Febrero</option>
                        <option value="03">Marzo</option>
                        <option value="04">Abril</option>
                        <option value="05">Mayo</option>
                        <option value="06">Junio</option>
                        <option value="07">Julio</option>
                        <option value="08">Agosto</option>
                        <option value="09">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                    </select>
                </div>

                <div class="form-group col-md-6">

                    <label>Año</label>
                    <input id="anio" name="anio" class="form-control input-sise" type="text" required minlength="4"
                        placeholder="Año " [(ngModel)]="inputMes.anio">

                </div>



            </div>


            <div class="form-group col-md-12">
                <label>Descripción</label>
                <textarea id="descripcion" name="descripcion" class="form-control input-sise" rows="4"
                    [(ngModel)]="itemForm.descripcion" required minlength="4" #descripcion="ngModel"></textarea>

            </div>


            <input type="hidden" id="id_tipo_mesa_tecnica" name="id_tipo_mesa_tecnica" class="form-control input-sise"
                rows="4" [(ngModel)]="itemForm.id_tipo_mesa_tecnica" #id_tipo_mesa_tecnica="ngModel">
            <!-- <div class="col-md-2"></div>

            </div>-->

            <div class="row">
                <div class="col-6 text-right">
                    <a class="btn btn-secondary" [routerLink]="['/mesatecnicaba']">Cancelar</a>
                </div>
                <div class="col-6 text-left">
                    <button type="submit" class="btn btn-success"  [disabled]="!groupForm.form.valid"> Guardar</button>


                </div>
            </div>

        </form>
    </div>


    <ngx-spinner bdOpacity=0.9 bdColor="# 333" size="medium" color="#272727" type="ball-8bits" [fullScreen]="true">
        <p style="color: #272727"> Cargando ... </p>
    </ngx-spinner>



</div>
