<div id="form-usuario" class="container-fluid">
  <br />
  <div class="row">
    <div class="col-12 text-center">
      <h3>{{ title | uppercase }}</h3>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" #groupForm="ngForm">
    <div class="form-group">
      <label for="first_name">{{labelsApp.labels.nombres}}:</label>
      <div class="text-danger" *ngIf="first_name.touched && groupForm.controls['first_name'].errors">
        {{labelsApp.input_error.min_length_a}}</div>
      <input id="first_name" name="first_name" class="form-control input-sise" required minlength="3"
        [(ngModel)]="itemForm.first_name" #first_name="ngModel" />

      <label for="last_name">{{labelsApp.labels.apellidos}}:</label>
      <div class="text-danger" *ngIf="last_name.touched && groupForm.controls['last_name'].errors">
        {{labelsApp.input_error.min_length_a}}</div>
      <input id="last_name" name="last_name" class="form-control input-sise" required minlength="3"
        [(ngModel)]="itemForm.last_name" #last_name="ngModel" />
        
      <label for="username">{{labelsApp.labels.username}}:</label>
      <div *ngIf="!this.id">
      <div class="text-danger" *ngIf="username.touched && groupForm.controls['username'].errors">
        {{labelsApp.input_error.min_length_a}}</div>
        <div class="text-danger" *ngIf="existeUsername===true">
          {{labelsApp.input_error.existe_username}}</div>
      <input id="username" name="username" class="form-control input-sise" required minlength="3"
        [(ngModel)]="itemForm.username" #username="ngModel" (keyup)="this.existeUsername=false"/>
      </div>
      <div *ngIf="this.id">
        <strong>{{itemForm.username}}</strong>
      </div>

          
      <div class="form-group" *ngIf="!this.id">
        <label for="password">{{labelsApp.labels.password}}:</label>
        <div class="text-danger" *ngIf="password.touched && groupForm.controls['password'].errors">
          {{labelsApp.input_error.min_length_b}}</div>
        <input id="password" name="password" type="password" class="form-control input-sise" required minlength="8" [(ngModel)]="itemForm.password" #password="ngModel"/>

        <label for="password">{{labelsApp.labels.repetir_password}}:</label>
        <div class="text-danger" *ngIf="repetir_password.touched && groupForm.controls['repetir_password'].errors">
          {{labelsApp.input_error.min_length_b}}</div>
          <div class="text-danger" *ngIf="repetir_password.touched && itemForm.password !== itemForm.repetir_password">
            {{labelsApp.input_error.isnotsame}}</div>
        <input id="repetir_password" name="repetir_password" type="password" class="form-control input-sise" required minlength="8" [(ngModel)]="itemForm.repetir_password" #repetir_password="ngModel"/>
      </div>     
      <div class="form-group" *ngIf="actualizaPassword === 0 && this.id">
        <label for="password">{{labelsApp.labels.password}}:</label>
    
        <td>
          <label class="checkboxContainer" (click)="onClickCambiarPassword()">
            <input id="consultar" type="checkbox" name="consultar" />
            <span class="checkmark" *ngIf="actualizaPassword === 0">Actualizar</span>
          </label>
        </td>
        <input *ngIf="actualizaPassword === 1" id="password" name="password" type="password" class="form-control input-sise" required minlength="8" [(ngModel)]="itemForm.password" #password="ngModel"/>
      </div>

      <div class="form-group" *ngIf="actualizaPassword === 1 && this.id">
        <label for="password">{{labelsApp.labels.password}}:</label>
        
        <td>
          <label class="checkboxContainer" (click)="onClickMantenerPassword()">
            <input id="consultar" type="checkbox" name="consultar" />
            <span class="checkmarkTrue" *ngIf="actualizaPassword === 1">Conservar</span>
          </label>
        </td>
        <div class="text-danger" *ngIf="(this.itemForm.password).length<=8">
          {{labelsApp.input_error.min_length_b}}</div>
        <input *ngIf="actualizaPassword === 1" id="password" name="password" type="password" class="form-control input-sise" required minlength="8" [(ngModel)]="itemForm.password" #password="ngModel"/>

        
        <label for="password">{{labelsApp.labels.repetir_password}}:</label>
        <div class="text-danger" *ngIf="repetir_password.touched && groupForm.controls['repetir_password'].errors">
          {{labelsApp.input_error.min_length_b}}</div>
          <div class="text-danger" *ngIf="(this.itemForm.password).length>8 && repetir_password.touched && itemForm.password !== itemForm.repetir_password">
            {{labelsApp.input_error.isnotsame}}</div>
        <input id="repetir_password" name="repetir_password" type="password" class="form-control input-sise" required minlength="8" [(ngModel)]="itemForm.repetir_password" #repetir_password="ngModel"/>
      </div>         
      <label for="email">{{labelsApp.labels.email}}:</label>
      <div class="text-danger" *ngIf="email.touched && groupForm.controls['email'].errors">
        {{labelsApp.input_error.email_valido}}</div>
        <div class="text-danger" *ngIf="existeEmail===true">
          {{labelsApp.input_error.existe_email}}</div>
      <input id="email" name="email" class="form-control input-sise" required email
        [(ngModel)]="itemForm.email" #email="ngModel" (keyup)="this.existeEmail=false" />    
      <div *ngIf="id!=1">
        <label>estado:</label>
        <div *ngIf="itemForm.estado === false">
          <label for="estado" class="checkboxContainer">
            <input id="estado" type="checkbox" name="estado" [(ngModel)]="itemForm.estado"/>
            <span class="checkmark" *ngIf="itemForm.estado === true">Permitido</span>
            <span class="checkmark" *ngIf="itemForm.estado === false">Denegado</span>
          </label>
        </div>
  
        <div *ngIf="itemForm.estado === true">
          <label for="estado" class="checkboxContainerTrue">
            <input id="estado" type="checkbox" name="estado" [(ngModel)]="itemForm.estado" />
            <span class="checkmarkTrue" *ngIf="itemForm.estado === true">Permitido</span>
            <span class="checkmarkTrue" *ngIf="itemForm.estado === false">Denegado</span>
          </label>
        </div>
  
        <label>{{labelsApp.labels.rol}}:</label>
        <div class="text-danger" *ngIf="id_rol.touched && groupForm.controls['id_rol'].errors">
          {{labelsApp.input_error.option}}</div>
        <select id="id_rol" name="id_rol" [(ngModel)]="itemForm.id_rol" class="form-control input-sise" #id_rol="ngModel" required>
          <option *ngFor="let rol of rolModel.getItems()" [value]="rol.id">
            {{ rol.nombre }}
          </option>
        </select>
      </div>

      <label>{{labelsApp.labels.entidad}}:</label>
      <div class="text-danger" *ngIf="id_entidad.touched && groupForm.controls['id_entidad'].errors">
        {{labelsApp.input_error.option}}</div>
      <select id="id_entidad" name="id_entidad" [(ngModel)]="itemForm.id_entidad" class="form-control input-sise" #id_entidad="ngModel" required>
        <option *ngFor="let entidad of entidadModel.getItems()" [value]="entidad.id">
          {{ entidad.nombre }}
        </option>
      </select>
    </div>
    <div class="row">
      <div class="col-6 text-right">
        <a class="btn btn-secondary" [routerLink]="['/usuarios']">{{ labelsApp.buttons.cancelar }}</a>
      </div>
      <div class="col-6 text-left">
        <button type="submit" class="btn btn-success"
          [disabled]="!groupForm.form.valid || existeUsername===true || existeEmail===true">{{ labelsApp.buttons.guardar }}</button>
      </div>
    </div>
  </form>
</div>
