@import "../../../../sass/_estilos_generales"
#content-loading
    position: fixed
    top: 0px
    left: 0px
    z-index: 3
    background-color: rgba(255, 255, 255, 0.48)
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center

.spinner-border
    width: 60px
    height: 60px