<div id="div-usuarios" class="container-fluid">
  <br />
  <div class="row">
    <div class="col-12 text-center">
      <h3>{{ labelsApp.usuarios.title_index | uppercase }}</h3>
    </div>
  </div>
  <div class="div-table">
    <div class="row">
      <div class="col-12 text-right">
        <button class="btn btn-success" *ngIf="permisosAppService.permisos.crear"
          (click)="onClickCrear()">{{labelsApp.buttons.crear}}</button>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-12">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th class="th-cons-rows">#</th>
              <th>{{ labelsApp.labels.nombres }}</th>
              <th>{{ labelsApp.labels.apellidos }}</th>
              <th>{{ labelsApp.labels.email }}</th>
              <th>{{ labelsApp.labels.username }}</th>
              <th>{{ labelsApp.labels.estado }}</th>
              <th>{{ labelsApp.labels.entidad }}</th>
              <th>{{ labelsApp.labels.rol}}</th>
              <th class="btn-crud" *ngIf="permisosAppService.permisos.modificar">{{ labelsApp.buttons.editar }}</th>
              <th class="btn-crud" *ngIf="permisosAppService.permisos.eliminar">{{ labelsApp.buttons.eliminar }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of usuarioModel.getItems(); let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ usuario.first_name }}</td>
              <td>{{ usuario.last_name }}</td>
              <td>{{ usuario.email }}</td>
              <td>{{ usuario.username }}</td>
              <td>{{ nombreEstado(usuario.estado) }}</td>
              <td>{{ nombreRol(usuario.id_rol) }}</td>
              <td>{{ nombreEntidad(usuario.id_entidad) }}</td>

              <td class="text-center" *ngIf="permisosAppService.permisos.modificar">
                <button class="btn btn-outline-light btn-sise" [title]="labelsApp.buttons.editar"
                  (click)="onClickModificar(usuario)">
                  <div class="div-btn update-btn">
                    <img src="assets/imagenes/iconos.svg" />
                  </div>
                </button>
              </td>
              <td class="text-center" *ngIf="permisosAppService.permisos.eliminar">
                <button class="btn btn-outline-light btn-sise" [title]="labelsApp.buttons.eliminar"
                  (click)="onClickEliminar(usuario)">
                  <div class="div-btn delete-btn">
                    <img src="assets/imagenes/iconos.svg" />
                  </div>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>